<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top">
                	<div class="logo_header">
			            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 279.7 319.4" xml:space="preserve">
							<g id="_x3C_Background_x3E__xA0_0_xA0_Image_1_">
							</g>
							<g id="Top_2_" enable-background="new    ">
								<defs>
									<path id="SVGID_1_" enable-background="new    " d="M71.4,122.7v73l62.9-36.5L71.4,122.7z M71.4,205.2v73l62.9-36.5L71.4,205.2z
										 M0,163.9v73.5l63.5-37L0,163.9z M0,82v73l63.5-36.5L0,82z M66.1,278.1v-73L2.6,241.6L66.1,278.1z M66.1,196.2v-73l-62.9,36
										L66.1,196.2z M136.9,237.4v-73.5l-62.9,36L136.9,237.4z M136.9,319.4v-73.5l-63.5,36.5L136.9,319.4z M142.2,319.4l63.5-37
										l-63.5-36.5V319.4z M142.2,163.4v73.5l63.5-37L142.2,163.4z M213.6,278.1l63.5-36.5l-63.5-36.5V278.1z M213.6,122.7v73.5l62.9-37
										L213.6,122.7z M208.3,278.1v-73l-63.5,36.5L208.3,278.1z M208.3,195.6v-73l-63.5,36.5L208.3,195.6z M279.7,237.4v-73.5l-63.5,36.5
										L279.7,237.4z M216.3,118.4l63.5,37V82L216.3,118.4z M136.9,155.5V82l-63.5,36.5L136.9,155.5z M136.9,73V0L74,36L136.9,73z
										 M71.4,40.7v73.5l63.5-37L71.4,40.7z M66.1,114.2V40.7L2.6,77.2L66.1,114.2z M142.2,82v73.5l63.5-37L142.2,82z M142.2,0v73
										l63.5-37L142.2,0z M208.3,114.2V40.7l-63.5,36.5L208.3,114.2z M213.6,40.7v73.5l63.5-37L213.6,40.7z"/>
								</defs>
								<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  overflow="visible"/>
								</clipPath>
								<g clip-path="url(#SVGID_2_)">
									<image overflow="visible" width="2100" height="1386" id="Top_xA0_Image" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAACDMAAAVsCAYAAAAvgkTqAAAACXBIWXMAACSaAAAkmgHZgLKiAAAA
									GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAl1JJREFUeNrs3TuOW1e6sOFVggfQ
									Q6gJGHAkJw4oZQeaQ/euITjr5Ee50MnJPARWnzkInYkMnFiRAU9AQ+gZ+OdirRKpuvKy91635wFI
									Ch2orMUStwr77e8LAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAeMWFIwAAAABe8tv3P/6wefnHT3/+/vM5v8/n9x/i7/Pr5vHH208ff3ayAAAA
									wHO+cwQAAADAU1LEEOODv20e/x3ht4y/z2Lz+OHz+w9B0AAAAAA8R8wAAAAAfONBxPBD+p/XI36J
									+PsOaVKDKQ0AAADAI2IGAAAAYOuZiGEq+1MaRA0AAADAN8QMAAAAwH3IsAzTRwwPiRoAAACAR8QM
									AAAA0LGZpzG8ZD9qCIIGAAAA6JuYAQAAADpUUMTwUPzvGUxpAAAAgL6JGQAAAKAjBUcM+6yeAAAA
									gM6JGQAAAKATKWRYhnIjhodEDQAAANApMQMAAAA0rpJpDC8RNQAAAEBnxAwAAADQqAYihof2o4Yg
									aAAAAIB2iRkAAACgMQ1GDA/FP9dgSgMAAAC0S8wAAAAADUkhwzK0GTHss3oCAAAAGiZmAAAAgAZ0
									MI3hOaIGAAAAaJCYAQAAACrWccTw0H7UEAQNAAAAUDcxAwAAAFRIxPCseB6DKQ0AAABQNzEDAAAA
									VCaFDMsgYniO1RMAAABQOTEDAAAAVMI0hqOJGgAAAKBSYgYAAAAonIjhbPtRQxA0AAAAQPnEDAAA
									AFAoEcPo4jkOpjQAAABA+cQMAAAAUKAUMiyDiGFsVk8AAABABcQMAAAAUBDTGGYjagAAAICCiRkA
									AACgACKGbPajhiBoAAAAgDKIGQAAACAjEUMx4vkPpjQAAABAGcQMAAAAkEkKGZZBxFAKqycAAACg
									EGIGAAAAmJlpDMUTNQAAAEBmYgYAAACYiYihOqIGAAAAyETMAAAAABMTMVRvP2oIggYAAACYnpgB
									AAAAJpRChmUQMbQgRg2DKQ0AAAAwPTEDAAAATMA0hmZZPQEAAAAzEDMAAADAiEQM3RA1AAAAwITE
									DAAAADACEUO39qOGIGgAAACAcYgZAAAA4EwpZFgGEUPPYtQwmNIAAAAA4xAzAAAAwIlMY+ABqycA
									AABgJGIGAAAAOJKIgVc8jBr+/fbTx1vHAgAAAIcTMwAAAMCBRAwc6T5quPz8/kMQNAAAAMDh3jgC
									AAAAeF0KGZYh/T/unQhHuNw8rj+//7DaPAbHAQAAAK8zmQEAAABeYBoDI7m8f3x+/+EfweoJAAAA
									eJGYAQAAAJ4gYmAil0HUAAAAAK8SMwAAAMAeEQMzuQy7qCEIGgAAAOBbbxwBAAAA3Ekhw3LzWAQh
									A/O43DyuP7//sNo8BscBAAAAd0xmAAAAoHumMZDZZbB6AgAAAL4hZgAAAKBbIgYKcxlEDQAAALAl
									ZgAAAKA7IgYKdxlEDQAAAHTujSMAAACgJylkWG4eiyBkoGyX6fv0+vP7D4PjAAAAoCcmMwAAANAF
									0xio2GW4CxpMaQAAAKAbYgYAAACaJmKgEZfB6gkAAAA6ImYAAACgSSIGGnUZRA0AAAB04I0jAAAA
									oDUpZFhuHosgZKBNl+n7O66fGBwHAAAArTGZAQAAgGaYxkCHLsNd0GBKAwAAAE0RMwAAAFA9EQOd
									uwxWTwAAANAYMQMAAADVEjHANy6DqAEAAIBGvHEEAAAA1CiFDMvNYxGEDLDvMv29iOsnBscBAABA
									jUxmAAAAoCqmMcDBLsNd0GBKAwAAANURMwAAAFAFEQOc5DJYPQEAAECFxAwAAAAUTcQAo7gMogYA
									AAAq8sYRAAAAUKoUMiw3j0UQMsAYLtPfp7h+YnAcAAAAlMpkBgAAAIpjGgNM7jLcBQ2mNAAAAFAk
									MQMAAADFEDHArC6D1RMAAAAUSswAAABAdiIGyOoyiBoAAAAojJgBAACArFLIsAwiBsjtMogaAAAA
									KISYAQAAgCxMY4BiXYZd1BAEDQAAAOQgZgAAAGBWIgaoxuXmcW1KAwAAADmIGQAAAJiFiAGqdBms
									ngAAACADMQMAAACTSyHDMogYoFaXQdQAAADAjMQMAAAATMY0BmjOZdhFDUHQAAAAwFTEDAAAAIxO
									xADNu9w8rk1pAAAAYCpiBgAAAEYjYoCuXAarJwAAAJiImAEAAIBRpJBhGUQM0JvLIGoAAABgZGIG
									AAAAzvLb9z8uNi8rJwHdu0yPxef3Hy7ffvr4iyMBAADgVG8cAQAAAKeIEcPm8VcQMgCPXX9+/+Gv
									zeMXRwEAAMApxAwAAAAcTcQAHEjUAAAAwEnEDAAAABwlhQwAxxA1AAAAcBQxAwAAAAeJEYOQATjT
									taABAACAQ4gZAAAAeJGIARiZKQ0AAAC8SswAAADAk0QMwMREDQAAADxLzAAAAMAjIgZgRqIGAAAA
									HhEzAAAA8JVpDEBGogYAAAC+EjMAAAAgYgBKci1oAAAAQMwAAADQMREDUChTGgAAADonZgAAAOiU
									iAGogKgBAACgU2IGAACAzpjGAFRI1AAAANAZMQMAAEAnRAxAA64FDQAAAH0QMwAAADROxAA0xpQG
									AACADogZAAAAGiZiABomagAAAGiYmAEAAKBBpjEAHRE1AAAANEjMAAAA0BARA9Cxa0EDAABAO8QM
									AAAADRAxAGyZ0gAAANAIMQMAAEDlRAwAj4gaAAAAKidmAAAAqJRpDACvEjUAAABUSswAAABQGRED
									wNGuBQ0AAAB1ETMAAABUQsQAcBZTGgAAACoiZgAAAKiAiAFgNKIGAACACogZAAAACmYaA8BkRA0A
									AAAFEzMAAAAUSMQAMBtRAwAAQIHEDAAAAAURMQBkcy1oAAAAKIeYAQAAoBAiBoDsTGkAAAAohJgB
									AAAgM9MYAIojagAAAMhMzAAAAJCJiAGgeKIGAACATMQMAAAAMxMxAFTnWtAAAAAwLzEDAADAjEQM
									ANUypQEAAGBGYgYAAIAZmMYA0AxRAwAAwAzEDAAAABMSMQA0S9QAAAAwITEDAADABEQMAN24FjQA
									AACMT8wAAAAwMhEDQHdMaQAAABiZmAEAAGAkpjEAdE/UAAAAMBIxAwAAwJlEDAA8IGoAAAA4k5gB
									AADgRCIGAF5xLWgAAAA4jZgBAADgBCIGAA5kSgMAAMAJxAwAAABHMI0BgBOJGgAAAI4gZgAAADiA
									iAGAkYgaAAAADiBmAAAAeIGIAYCJiBoAAABeIGYAAAB4hogBgBlcCxoAAAAeEzMAAAA8YBoDADMz
									pQEAAOABMQMAAEAiYgAgM1EDAABAImYAAAC6J2IAoDCiBgAAoHtiBgAAoGsiBgAKdi1oAAAAeiVm
									AAAAumQaAwCVMKUBAADokpgBAADoiogBgEqJGgAAgK6IGQAAgG6IGABogNUTAABAF8QMAABAN376
									8/cLpwBA5W7efvr4i2MAAABa950jAAAAenIfNJjSAEBlRAwAAEBXTGYAAAC6ZEoDABURMgAAAN0x
									mQEAAOiWKQ0AFE7EAAAAdEvMAAAAdE/UAEBhRAwAAED3xAwAAACJqAGAzEQMAAAAyRtHAAAA8K37
									qAEAZiRkAAAA2GMyAwAAwBNMaQBgJiIGAACAJ4gZAAAAXiBqAGAiIgYAAIAXWDMBAABwAKsnABiR
									kAEAAOAVJjMAAAAcyJQGAM4kYgAAADiQmAEAAOBIogYAjiRiAAAAOJKYAQAA4EQxahA0APACEQMA
									AMCJ3jgCAACA08Wg4X5SAwDsETIAAACcwWQGAACAEVg9AUAiYgAAABiBmAEAAMjq/ub/udMNPr//
									8DUiePvpY7ZJCaIGgG5ljxg215749a/v/3s216ST/3s219X730ucAQAAZGHNBAAAkEW82T/VDf/9
									sCEXqycAulJayDCm63hdTXEDAADAbExmAAAAZjXXxIL7oMGUBgAm1HLE8FCMGkxqAAAAZiNmAAAA
									ZpHrhr6oAYAJ9BQxPCRqAAAAZiFmAAAAJlfCTfxSogZBA0DVeo4YHopRQxA0AAAAU3njCAAAgKnE
									G/el3by/jxpyiUHD/aQGAKoiZHgsBg1/bR6/+PYAAADGZjIDAAAwutKnD1g9AcARRAyvs3oCAAAY
									nZgBAAAYTW035q2eAOAFIobjiRoAAIDRWDMBAACMouYb8mlEdrb/fqsnAIojZDjPtdUTAADAuUxm
									AAAAztLSVIEYNFg9AdA1EcN4TGkAAADOImYAAABO0uoN91JWT7R8xgAFEjFMR9QAAACcRMwAAAAc
									rYeb7KVEDYIGgEmJGOYTo4YgaAAAAA71xhEAAACHijfWe7u5fh815BKDhvtJDQCMSsgwvxg0/LV5
									/OLbDwAAeI3JDAAAwKt6nw5g9QRAU0QM+Vk9AQAAvErMAAAAPMuN829ZPQFQNRFDeUQNAADAs6yZ
									AAAAnuSG+fPSiOxs52P1BMDRst4sjxFDuq4KGZ52bfUEAADwkJgBAAD4RrzZImQ4TM6gIRI1ALwq
									RgwXuUOGIGI4xHWKBReOAgAAiKyZAAAAtgQMp7F6AqBIVkrUa7W5tsbXd5v3cO04AACgX2IGAADo
									nJvg48gdNdxPaPB+Ap0TMbRD1AAAAJ2zZgIAADrmxvf40ojsbOdq9QTQsZvc6yTSdVXIMK6V1RMA
									ANAnkxkAAKBDIobpxaAh9+oJ7zXQCdMY2mdKAwAAdEjMAAAAHXFje165V09EMWrwvgONEjH0R9QA
									AAAdETMAAEAH3MzOK3fUYEoD0KDsKyWCiCEnUQMAAHRAzAAAAI1zA7scogaAs4kY2BejBkEDAAA0
									6o0jAACANsUb1m5al+k+asjlPmoAqEiMGC6EDDwhBg1/bR4LRwEAAG0xmQEAABojYKiDKQ0AB8k6
									iSF9TsavL2Ion9UTAADQGDEDAAA0wk3pOokaAJ5lpQSnEDUAAEAjrJkAAIAGuBFdvzQiO9v7aPUE
									UJCsKyVixJCuq0KGuq2sngAAgLqZzAAAABUTMbQnBg2mNACdslKCsZnSAAAAFRMzAABAhdxsbpvV
									E0CHrJRgSqIGAACokJgBAAAq4uZyX0QNQAdEDMxJ1AAAABV54wgAAKAObij3K0YN92FDDvdRA8CI
									YsRwkStkiBFDuq4KGfoUo4aFYwAAgLKZzAAAAIUTMXAvBg2mNACVyzqJIX2Oxa8vYsCUBgAAKJyY
									AQAACuWmMU+xegKomJUSlEjUAAAAhRIzAABAgdwo5jW5o4aNd5vHyjsBHEDEQA1i1CBoAACAgogZ
									AACgICIGjpVr9cRPf/6+3rxcbL5nF0HUADzNSglqY0oDAAAURMwAAAAFEDFwjpxTGkQNwDNMY6Bm
									ogYAACiAmAEAADISMTCm3FHD5vvZ6glAxEBLRA0AAJCRmAEAADIRMjCVXFGDKQ3QNREDLYtRg6AB
									AABmJmYAAICZiRiYS4warJ4AJpY1YkjX1fj1hQxMzZQGAACYmZgBAABmImIgh9yrJ4KoAVpmGgM9
									EjUAAMBMxAwAADAxEQMlyB01bP4evAuCBmiFiAFEDQAAMDkxAwAATEjIQGlyRQ2mNEATRAzwWIwa
									BA0AADCBN44AAADGFyMGIQMlu48a5hajhs0jhhTvvAtQFSEDPC8GDX9tHgtHAQAA4zGZAQAARiRg
									oCZWTwAHEDHA4ayeAACAEYkZAABgBCIGamb1BPAEEQOcTtQAAAAjEDMAAMCZhAy0QtQABBEDjClG
									DYIGAAA40RtHAAAAp4kRg5CBFt1HDXNLUcM77wBkI2SA8cWg4a/NY+EoAADgOCYzAADAkQQM9MCU
									BuiKiAGmZ/UEAAAcScwAAAAHEjHQI1EDNE3EAPMTNQAAwIGsmQAAgAMIGehdGpE9+9+DGDVsHjGk
									sH4CxpUtZIgRQ7quChno2crqCQAAeJmYAQAAXhBvtggZYCdH0BClSQ2CBjhfjBgucoYMQcQA91Yp
									Flw4CgAAeMyaCQAAeIKAAZ6Xgob1208fZ40LrJ6As1gpAeWyegIAAJ4gZgAAgD0iBjjYQtQAVRAx
									QD1EDQAAsMeaCQAASH77/kc3ReF4izQie/a/P1ZPwKtucq6TSIGgkAGOt7J6AgAAxAwAALCNGNIN
									l4XTgJMtcgUNm8dFEDXAvhgxXOQMGYKIAc61SrGgf58CANAtayYAAOhWmsSwcBIwGqsnIC8rJaA9
									Vk8AANAtkxkAAOiSkAEmZfUEzM9KCWib1RMAAHRHzAAAQFeslIBZWT0B07NSAvph9QQAAF2xZgIA
									gC6YxADZWD0B07BSAvpl9QQAAF0QMwAA0DQRAxRD1ADjEDEA90QNAAA0zZoJAACaJWSAIi3SiOws
									6yeC1RPU7SbnOom0pknIAOVZWT0BAECLxAwAADQnRgzphsvCaUCxFrmChs3jIogaqEuMGC5yhgxB
									xAClW6VY0L9/AQBohjUTAAA0wyQGqI7VE/AyKyWAY1k9AQBAM0xmAACgeiYxQPWsnoDHrJQAzmFS
									AwAA1RMzAABQNdMYoClZogarJyhMtpUSIgZo0krQAABArcQMAABUyTQGaNoi15QGUQMZZYsY0nU1
									fl0RA7TJlAYAAKr0nSMAAKAmJjFAN7ZTGjav67efPs4aF8SoYfNZE7/mytvADLKtk0jX1fi1RQzQ
									hxg1xNd3m8+dteMAAKB0YgYAAKogYoBuZYkaYtCwebnYfPbEzx1RA1O5MYkByEDUAABAFayZAACg
									eEIGIKSoYe71E1ZPMJFsKyVixJDWNAkZgJXVEwAAlEzMAABAsWLEkG64LJwGkCzmDhoiUQMjyRYx
									pOtq/LoiBmDfKsWC/r0NAEBxxAwAABRHxAC8IsuUhiitnxA0cIqsKyVMYwBeIWoAAKA43zkCAABK
									YZ0EcKRt1LB5Xb/99HG2wCAFDRebz6z4ebXyNvCKG5MYgIrEqCG+vtt8dq0dBwAAOYkZAAAogpAB
									OIOogRLN+v344Jr6SxAxAOeJUYOgAQCArKyZAAAgKyslgBEtrJ6gADFiuBAyAA2wegIAgKxMZgAA
									IAuTGICJmNJATqYxAC2yegIAgCzEDAAAzErEAMxE1MCcRAxAD0QNAADMypoJAABmI2QAMlikEdmz
									hgVWT3Qj20qJGDGkNU1CBmBuK6snAACYg5gBAIDJxYgh3XBZOA0gk0WOoGHzuAiihlaZxgD0bJVi
									Qf++BwBgMtZMAAAwGZMYgMJYPcEYRAwAO1ZPAAAwGZMZAACYhJABKFi21RMmNVTNSgmA51k9AQDA
									6MQMAACMykoJoCKzr56I0qQGQUM9skUM6br6SxAxAHWwegIAgFFZMwEAwChMYgAqZfUEL7FSAuB4
									Vk8AADAKMQMAAGcRMQCNEDWwT8QAcD5RAwAAZ7FmAgCAkwkZgAYt0ojsWcMCqyeKkW2lRIwY0pom
									IQPQmpXVEwAAnELMAADA0WLEkG64LJwG0KhFjqBh87gIooZcTGMAmM4qxYJ+fgAA4GDWTAAAcDCT
									GIDOWD3RBxEDwHysngAA4GBiBgAAXiViADqXLWrYfP7GrydomIaIASAfUQMAAK+yZgIAgBcJGQC+
									WqQR2bPFBVZPTCJGDBc5QoYYMaQ1TUIGgDsrqycAAHiOmAEAgCfFiCHdcFk4DYBvLOYMGiJRw2hM
									YwAozyrFgn7uAADgG9ZMAADwDZMYAA6SbfXE5uVi81kdP6etnziciAGgfFZPAADwDTEDAABbIgaA
									k2SLGjaf2/HrCRpeljNiWHh/AE4iagAAYMuaCQAAhAwA51ukEdmz3by2euJVWUKGGDGkNU1CBoDz
									rKyeAADom5gBAKBjMWJIN1wWTgNgFIs5g4ZI1PBIjBgucoUMQcQAMKZVigX9vAIA0CFrJgAAOmQS
									A8CkrJ7Iw0oJgHZZPQEA0CExAwBAR0QMALOaPWqIQcPm5aKzm+siBoB+iBoAADpizQQAQCeEDADZ
									LNKI7Nluene0emKda51EWtMkZADIY2X1BABA+8QMAACNixFDuuGycBoAWS3mDBqiNKmhxaAhRgwX
									uUKGIGIAKMEqxYJ+zgEAaJQ1EwAAjTKJAaBIVk+cx0oJAB6yegIAoFFiBgCAxogYAKogajje2iQG
									AF4gagAAaIw1EwAADREyAFRnkUZkz3azPEYNm8dFqGf9RJaVEjFiSGuahAwAdVlZPQEA0AYxAwBA
									A2LEkG64LJwGQJUWcwYNUZrUUHLQkCViSNfVeD0VMQDUa5ViQT8fAQBUzJoJAICKmcQA0BSrJ+5k
									WSeRrqslnQMA57N6AgCgYiYzAABUSsgA0KyeV0+sc01isFICoGlWTwAAVEjMAABQGSslALrR0+oJ
									KyUAmJrVEwAAlbFmAgCgEiYxAHSp9dUTVkoAMDerJwAAKiFmAAAonIgBgNBm1LA2iQGAjEQNAACF
									EzMAABRMyADAA9mihjF+r3Sz6CLHwYkYAHhGjBoEDQAABXrjCAAAyhMjhs0j3qxaOA0AnhCjBjfm
									D7+uxuup8wLgOTFo+Gvz8PMXAEBBTGYAACiISQwAHGH2KQ0VXlfjNVXEAMChrJ4AACiImAEAoAAi
									BgDOIGp4fF2N11QRAwCnEjUAABTAmgkAgMyEDACMZJFGZHd7Ez9GDGlNk5ABgDGsrJ4AAMhHzAAA
									kEmMGNINl4XTAGBEix6DBtMYAJjIKsWCfm4DAJiZNRMAADMziQGAGXSzekLEAMBMrJ4AAJiZmAEA
									YCYiBgAyaDZqEDEAkImoAQBgJtZMAADMQMgAQGaLNCK7+pv/MWJIa5qEDADktLJ6AgBgWmIGAIAJ
									xYgh3XBZOA0ACrCoOWgwjQGAwqxSLOjnPQCACVgzAQAwAZMYAChYdasnRAwAFM7qCQCACYgZAABG
									JGIAoCLFRw0iBgAqI2oAABiRNRMAACMRMgBQqUUakV1MNBAjhrSmScgAQI1WVk8AAJxPzAAAcKYY
									MaQbLgunAUDFFiUEDaYxANCIVYoF/ZwIAHAiMQMAAAAAAAAAUBQxAwDAmX768/d3m8fF5pdrpwFA
									xdZvP318V8B1NV5P33k7AKjcu8119WLz8HMiAMCJxAwAACOJUUMQNABQn3W62VJMQBCDhhQKihoA
									qNE7EQMAwPm+cwQAAONJQUPc9x13fS+cCAAFW5cUMDxzXV1vXi4219V4TV15ywAonIgBAGBEYgYA
									gAmIGgAoWPERwxPX1XUQNQBQLhEDAMAErJkAAJhQjBrSmOy10wCgANWFDA+uq/F6avUEAKV4l1Y1
									+XkPAGACYgYAgBmkSQ1rJwFAJut0s6X6ECAGDSkUFDUAkJNpDAAAE7NmAgBgJlZPAJDBuoWA4Znr
									6jpYPQHA/EQMAAAzMZkBAGBmVk8AMJNmQ4YH19V4PTWlAYCpWSkBADAzMQMAQCZWTwAwkWZWShxx
									TbV6AoApmcYAAJCBNRMAABlZPQHAiNY9BQzPXFfXweoJAMYjYgAAyEjMAABQAFEDAGfoPmJ44rq6
									DqIGAE4nYgAAKIA1EwAABYlRQxqTvXYaABxAyPDydTVeT50PAId6l1Y1+XkMAKAAYgYAgAKlSQ1r
									JwHAM9bpZosb9a9fU9cpFHRWALzENAYAgMJYMwEAUCirJwB4gkkMp19X18HqCQAeEzEAABTKZAYA
									gJf88z+rzWOR8z/B6gkAkmwhQwwAUlx3ls/vPyw2j6whgdUTACRFrJT41+3fV5vHwtsBAPCYyQwA
									AK+LQUN8/Xnz+GP7+N//+e/c/xExavjt+x9/3fzyh/T4m7cGoGn/vb/uvP308ee5v/jmmhOvM8Pm
									8Wv6n9Yj/dYxaPgr/dnin+u/mz/fHzNfU+OfJU5p+CH9+f6Wrq0AtO2PdH39ee5rz71/3f79/me5
									X/euPTfeGgCAx8QMAACHu7+Z83P453+yRA0//fn79maWqAGgaSVEDPfXmF8n/FLx949TGv74/P7D
									VY6bSpvravya70QNAM0rNWIAAOAFYgYAgOPtRw23maY0iBoA2hSvKbeNRwwPxa+3/Pz+Q5YpDem6
									uh81LIObTACtyB4xRClkcH0BADiSmAEA4HR3N3oyTWmIHkQNQxA0ANQq2zSGjBHDvv0pDVmjhs15
									XAVTGgBaEK8jVwVEDKYxAACcSMwAAHCe7Ksnohg1/Pb9j/GXpjQA1KWElRJDyBcxPJQ9arB6AqB6
									VkoAADRCzAAAMI7sUYPVEwDV6XGlxKH2o4YrqycAOICIAQCgMWIGAIBx7UcNt1ZPAPCE3ldKHGMb
									Elg9AcArSlkpIX4DABiRmAEAYBp3N4isngBgR8RwGqsnAHiOaQwAAA0TMwAATMfqCQCibBFDugbE
									z/0h1BcxPCRqAOCeiAEAoANiBgCA6YkaAPoVP+9vM0YMtU5jeMl+1HCVa/VE2EUNRooDzEfEAADQ
									ETEDAMB89qOG21yrJ+JrihqGIGgAmIqVEtPbhgS5pjSk6+ofm/O+CqY0AMwhfs5f5YoYohQyiNgA
									AGYiZgAAmN/djaVMUxqiGDX89v2P8ZemNACMS8QwL6snANpnGgMAQKfEDAAAeVg9AdCe3CslhtBP
									xPBQaVGD/9cuwPlEDAAAnRMzAADkVVrUMARBA8CxTGMox37UcGX1BEC1sq6UEDEAAJRBzAAAUIb9
									qOHW6gmAKogYyrWdjlDQ6onL9ADgZaVMYzBhBwCgAGIGAICy3N2QsnoCoGQihjqUtHpi2Lz+I4ga
									AJ5jpQQAAI+IGQAAylPa6glRA8BO/Dy+nTtiSJ/J8XN4CCKGY5UQNdzG75sUNVwHQQPAPREDAADP
									EjMAAJSrtKhhCIIGoF+mMdRvP2rIsoc9Rg1ppZMpDQB319UrEQMAAM8RMwAAlG8/aridO2iIYtSQ
									br6Y0gD0RsTQnu0u9EKmNIgagB6VMo1hGUQMAABFEzMAANTj7kaW1RMAc7FSol1WTwDMz0oJAACO
									ImYAAKiL1RMA0zONoR9WTwDMw0oJAACOJmYAAKiT1RMA4xMx9MvqCYBpWCkBAMDJxAwAAHWzegLg
									fCIGQihv9YSoAaiZlRIAAJxNzAAAUL/SVk+IGoCaxM/L27kjhvSZGT8nhyBiKE1pUcN1EDQA9RAx
									AAAwGjEDAEA7SosahiBoAMplGgOv2Y8asux5j1FDWulkSgNQg/g5eSViAABgLGIGAID27EcNt3MH
									DVGMGtLNF1MagNKIGDjWdte61RMAzyplGsMyiBgAAJoiZgAAaNfdjTKrJwDuZVkpIWJogtUTAI9Z
									KQEAwKTEDAAAbbN6AiD/NIYhiBhaUUTUYPUEUAArJQAAmJyYAQCgD0VEDVZPADOzUoKp7EcNV1ZP
									AB3JOo1BxAAA0BcxAwBAX/ajhlurJ4BGiRiYy3ZHeyGrJ0QNwJRKWSmxDCIGAIBuiBkAAPp0d4Ot
									jNUTogZgTPHz7FbEwIyKWD0RdlHDdRA0AOMpJWIwjQEAoENiBgCAfhWxeiK+pqhhCIIG4HS5pzEM
									QcTQuyKihrTSyZQGYAzxM+xKxAAAQC5iBgAAioga0s0XUxqAY1kpQWn2o4YrqyeACmWdxiBiAADg
									npgBAIB7+1HDrdUTQAWslKBk293uaUrDl8336ZeZr6u3weoJ4DilrJRYBhEDAABBzAAAwGN3N+as
									ngDKlWUag4iBE9xPabj9/P7Dv0OmqMHqCeAAVkoAAFAcMQMAAE+xegIoUe6VEkMQMXCaIT2yRA1W
									TwAvsFICAIBiiRkAAHhJ1qjB6gkgyR0xmMbAWIawixpuMq+eEDVA30QMAAAUT8wAAMAh9qOG28yr
									J0QN0Jf4eXMrYqAxQ3zKuXoi7KKG6yBogJ5kjRiiFDIsg4gBAIBXiBkAADjG3Q29jKsn4muKGoYg
									aICWZZnGIGJgRkPIuHoiXVdv00onUxqgD/G6epU5YjCNAQCAg4kZAAA4VtbVE1GMGtLNF1MaoD25
									V0oMQcTAvIaQMWqwegK6YKUEAABVEjMAAHCqrFGD1RPQJCsl6NkQdlHDjdUTwAhEDAAAVE3MAADA
									ufajhlurJ4ATWCkBO/FaFqyeAM5UwkqJZRAxAABwBjEDAABjubsRaPUEcDgrJeBpQ7B6AjiNaQwA
									ADRDzAAAwJisngAOkTtiMI2BWgyhnNUTogYom4gBAIDmiBkAAJhCSasnRA1Qlvh5cCtigKMM8Snn
									6omwixqug6ABSpI1YoislAAAYCpiBgAAppR99UR8TVHDEAQNkFOWaQwiBhoyhIyrJ9J19TatdDKl
									AcoQr6tXmSMG0xgAAJiMmAEAgKllXT0Rxagh3XwxpQHml3ulxBBEDLRlCBmjBqsnoAhWSgAA0AUx
									AwAAc8kaNVg9AVlYKQHTGcIuarixegK6IGIAAKArYgYAAOa2HzXcWj0BTbJSAuYTr2XB6gloXgkr
									JZZBxAAAwIzEDAAA5HJ3o9HqCWiJiAHyGILVE9Aq0xgAAOiWmAEAgJysnoA2ZIkY0t/f+Hd2CCIG
									CEHUAC0RMQAA0D0xAwAAJSgtalh4S+Bg8e/qbaaIwTQGeNoQdlHDTY7VE2EXNVwHQQMcQ8QAAACJ
									mAEAgJLsRw23OVZPxNffvv9xFQQN8BorJaB8Q3zKMaUhXVdv00onUxrgMPG6epUjYohSyLAMIgYA
									AAohZgAAoER3NygzTGmIfvrz93cpaIgW3g54ZB1EDFCLIVg9AaUzjQEAAJ4gZgAAoFS5V0+8i6+i
									Bnhk/fbTx3dzfsEUMgxBxADnGEI5UYPVE3BHxAAAAC8QMwAAULqSooaFt4OOrePTnCGDaQwwiSHs
									ooYbqycgm2wrJUQMAADUQswAAEAt9qOGW6snYDbr+CRigOYM8cnqCZhdCdMYlkHEAABABcQMAADU
									5u7GptUTMLV1fBIxQNOGUM7qCVEDrbNSAgAAjiRmAACgRiWtnogW3hIas54zYkh/n+INliGIGCCH
									IZQTNVwHQQNtETEAAMCJxAwAANSspKhh4e2gAev4ZBoDdGsIu6jhZs6gIV1XY9AQf2lKA62I/z69
									EjEAAMBpxAwAALRgP2q4nTNoiGLUYEoDlVvHJxEDkAzxyeoJOFkJ0xiWQcQAAEDlxAwAALTk7oao
									1RNwjLWIAXjCEKyegGNZKQEAACMSMwAA0BqrJ+Aw6/iUIWQYgogBajKEzFGD1RNUwkoJAAAYmZgB
									AIBWZY8aTGmgUOv4ZBoDcKQh7KKGG6sn4Kts0xhEDAAAtE7MAABA6/ajhlurJ+jYOj6JGIAzDfGp
									gNUTogZyK2GlxDKIGAAAaJiYAQCAXtzdSM2/eiJaeDuY2XrOiCF9v1spAe0aQubVE2EXNVwHQQPz
									KiFiMI0BAIAuiBkAAOhJ9tUT8TVFDQtvBzNYxyfTGICJDCHT6ol0XY1BQ/ylKQ3MJf778UrEAAAA
									8xAzAADQo2yrJ6IYNZjSwMTW8UnEAMxkiE9WT9AwKyUAACADMQMAAD2zeoIWrUUMQAZDsHqC9lgp
									AQAAGYkZAADo3berJ/73f9ZzfnGrJxjR9ns3Q8gwBBEDsDOEzFGD1ROMxEoJAADITMwAAAB37qc0
									3N0IzhA1mNLAibbfq3NGDNHm+zV+n5rGADxnCLuo4cbqCSqSbRqDiAEAAL4lZgAAgG/dBQUxasg7
									pSFaeDt4wfb7M1PEsPu7AvCyIT4VsHpC1MBrSlgpsQwiBgAA+ErMAAAAT1vlnNIQX0UNvGAtYgAq
									MoTMqyfCLmq4DoIGvlVCxGAaAwAAPEHMAAAAz9tNaYjyRg0Lbwch7zQGEQNwriFkjho2n2fxl6Y0
									cC/GC1ciBgAAKJOYAQAAXpc9ajCloXvb7znTGIBGDGEXNdxYPUEG2aYxiBgAAOBwYgYAADjcLmqw
									eoL5WCkBtGqIT1ZPMKMSVkosg4gBAAAOImYAAIDjrayeYAbb7605QwYRA5DBEKyeYB5WSgAAQGXE
									DAAAcBqrJ5jK9nsp0zQGEQOQyxAyRQ1WTzTPSgkAAKiUmAEAAM6TLWqweqI52+8dKyWAzg1hFzXc
									ZFw9IWqon4gBAAAqJ2YAAIBx7KKGvKsnooW3ozprEQPAN4b4lGv1RNhFDddB0FCbbBFDlEKGZRAx
									AADA2cQMAAAwrlXO1RPxNUUNC29FFbbfI3OGDCIGoCJDyLR6Il1XY9AQf2lKQz1ivHCVMWIwjQEA
									AEYkZgAAgPFlWz0RxajBlIbibb8nMk1jEDEAtRlCpqjB6olqWCkBAAANEjMAAMB0skUNVk8UzUoJ
									gNMMYRc13Fg9QRAxAABA08QMAAAwvV3UYPVEz7bvvZUSAGcb4pPVE93LvVJiGUQMAAAwKTEDAADM
									Z2X1RJe277WIAWBUQ7B6olemMQAAQCfEDAAAMC+rJ/qxfW8zrZQQMQC9GIKooRciBgAA6IyYAQAA
									8hA1tG2dKWLYfW8B9GUIu6jhZu7VE2EXNVwHQcPYRAwAANApMQMAAOS1ixoyrJ6IrylqWHgrRrF9
									D62UAMhmiE9zT2lI19UYNMRfmtIwnhgvXM0dMUQpZFgGEQMAAGQjZgAAgDKsckxpiGLUYErD2bbv
									mZUSAEUYgtUTtTONAQAAEDMAAEBBrJ6ok5USAGUagtUTtRExAAAAX4kZAACgPFZP1GH73lgpAVC8
									IT5ZPVG8+L5YKQEAAHwlZgAAgHJZPVGm7XshYgCoyhCsnijVl/T4t2kMAADAPjEDAACUzeqJcmzP
									PtNKCREDwDiGIGooxZewixhu5/zCIgYAAKiDmAEAAOogashrnSli2L33AIxpCLuo4Wbu1RNhFzVc
									h/6Chi9BxAAAABxAzAAAAHXZRQ0ZVk/E1xQ1LDo57+0ZWykB0KwhPs09pSFdV2PQEH/Z05SGeL43
									c0cMUQoZlkHEAAAA1RAzAABAnVY5pjREMWroYErD9kxFDABdGILVE1P7EkxjAAAAjiRmAACAelk9
									MY1cKyVEDAB5DaGMqKGl1RNfgogBAAA4kZgBAADqV0rUsKj8HLfnZhoDQPeGsIsabqyeOFk8txsR
									AwAAcCoxAwAAtGMXNVg9cYztWYkYAHhgiE9WTxztS8g7jWEZRAwAANAEMQMAALRnZfXEQbZnI2IA
									4AVDKGP1RA1Rw5dgpQQAADAiMQMAALSplNUT0aLA81nPGTGk81gEEQNArYZQRtRwHcoLGr4EEQMA
									ADABMQMAALStlKhhUch5bP/8pjEAcKIh7KKGm7mChnRdjUFD/GVJUxrin/9GxAAAAExBzAAAAH3Y
									RQ0zBg1RjBoKmNKw/TOLGAAYyRCfOl498SXkncawDCIGAABonpgBAAD6supw9cRaxADABIbQ3+qJ
									L8FKCQAAYCZiBgAA6E8vqye2f64MIYOIAaAvQ8gYNcy4eiL+mayUAAAAZiNmAACAfmWNGiac0rD9
									c5jGAMDMhrCLGm4aWj3xJWSYxiBiAAAAxAwAAMAuasi7euJc2/92EQMAmQ3xKfPqiRg1nPt1v6Rr
									a66VEssgYgAAgK5dOAIAgBf88z9zjMKHksw+paFGIgY6tb6PkE71+f2Hhb83dOZ285g1aqiZaQz0
									/G/w/zf8n39/AwA8YDIDAACwL9vqiVqkkMHNWAAOMYTd6glRwzP+dfv3y3C3GkPEAAAAfCVmAAAA
									niJqeMA0BgDOMIRd1HAjaLizFzH8I50PAADAV2IGAADgJbuoodOgQcQAwIiG+GRKw9eQ4TqIGAAA
									gGeIGQAAgEOsepzSYKUEABMYQserJ0xjAAAADiVmAAAADtXN6gnTGACYwRA6Wj0hYgDg/7N3xzqO
									nGeD758VzgV8qSLxBgQ4+pQs8NU4E46uoZeTOlMiCDAMimgIEJwoU6qyb2H9QZmGBpTsRlpsdiJu
									5OgAvoNz+JBFk9Oa6eluVtX7VtXvB5BsGPAMm0VWaab/8zwA8FxiBgAA4Llmu3pCxABAAeu8m/OU
									BislAACAlxAzAAAALzWb1RMiBgAKW8cMV0+YxgAAANxCzAAAANxi8qsnupBBxABADdYxg6hBxAAA
									APRBzAAAAPRhclGDaQwAVGwdl6hhO5WgQcQAAAD0ScwAAAD06RI1VBo0iBgAmJB13k1hSkMXMmxC
									xAAAAPREzAAAAAzhTW1TGkQMAEzUOipePWEaAwAAMJSPvAQAAMBA3sQpamhKP5EuZHgTQgYApmvd
									Xcc2//P3//eqhid0NY3hTQgZAACAnokZAACAoW08BwDoTdPdPBcAAGDWxAwAAMBQdsfbd5+/Kv1E
									/uv//h+v/vV8AGCa9t11bPvvP/9nW8MT+tP6r/k8tt3z2jtEAABAn/4vLwEAADCAKiKGa13QkCsn
									zqsmGocJgInYR0URw7UuaGjv27t1nCYhrRwuAACgDyYzAAAAfdpFhSHDtYwariY1AEDN9lHZNIb3
									MaUBAADom8kMAABAH3bH+4ojhocyaDClAYBK7bvbX2qPGK49mNLw3+I0pWHlcAIAAC8hZgAAAG6x
									O95PKGK4ZvUEAJXZxwQjhoesngAAAPogZgAAAF5qN9WI4SFRAwAV2McE1kk8R0YN9+1dfmlKAwAA
									8GxiBgAA4Ll2x/uZhAzXHkQNjUMNwAj2MYNpDO9j9QQAAPBSYgYAAOCpdsf7GUYMD2XUYEoDAAPb
									x4wjhodEDQAAwHOJGQAAgKfYLSFiuGb1BAAD2sfMVko81YOoYROCBgAA4D0+8hIAAACP2MUCQ4Zr
									GTV0YcPO2wGAG+2768kiQ4ZrXdSw7V6PvbcGAADwkMkMAADAu+yO9wuOGB6yegKAG+xjQSslnuod
									qyd+d7j9m1cGAABIYgYAAODa7ngvYngnqycAeKZ9iBg+6Cpq+P7wuA5BAwAAEGIGAADgYtrrJL7+
									qTk+fvf5bujfStQAwBPso8A6ifv2bnV4yNv+T+u/7l/663z1wxf/+nX+/Ie/7cd47ofn++Xh+eeX
									vwtTGgAAYPHEDAAAwO54P/1pDKew4OufXnXfz27o3/BB1NB4KwEQhaYxXEUMua5hfbhtD7dvbvgl
									89fYHG7tVz988ZcYKWrIoKH7fnJKg6gBAAAWTMwAAADLtTveF44YPv725yYf//HH3+96+iWLRA2m
									NAAs3j7qiBj6tu5uGTVsx5zS0H1/ogYAAFgoMQMAACzP7nhfScQQ5/gg4r/0/FtcogarJwAY1j7K
									rZTI6QnrEX674+8x5pSG9CBqyOcgaAAAgIUQMwAAwLLsKowYhvbG6gkABrKPeU5jeJ91XKY0jB41
									HL7v/NKUBgAAWAgxAwAALMPueF8wZCgQMVyzegKAPu1jWRHDQ+soEDVYPQEAAMsiZgAAgHnbHe/r
									mMbwpoLXw+oJAG6xj2VHDA+t4xI1bK2eAAAA+iRmAACAedod75e3UuKpSq6eSI23KMDk7A+37ZgR
									Q+pChk3UFTE8dHxuVk8AAAB9EjMAAMD87EQMT1Jk9UQ+dlFD460KMAn7MI3hKdZh9QQAANAjMQMA
									AMzH7nhfMGSYSMTwUJGowZQGgOrtQ8TwEusov3pC1AAAADMgZgAAgOnbHe/rmMbwZsKv4yVqsHoC
									YOn2MfJKiRlEDA8dv4cSqye61/P77jkIGgAAYKLEDAAAMF27472VEn17Y/UEwGLto9w0hk3MI2K4
									to4CqydSRg2H1zW/NKUBAAAmSswAAADTtBMxDMrqCYBl2YeVEkNaR4GoweoJAACYNjEDAABMy+54
									XzBkmHnE8NCoUYPVEwCj24eIYUzruEQNW6snAACAx4gZAABgGnbH+zqmMbxZ4Ot/iRrGXz2RGh8B
									gN7tD7ftmBFDmvFKiec4fu9WTwAAAI8RMwAAQN12x3srJWrxZuzVE/nYRQ2NjwNAL/ZhGkMN1mH1
									BAAA8AgxAwAA1GsnYqjSqKsnUkYNpjQA3GwfIoYareMSNXz55z/87Z9j/KaiBgAAqJ+YAQAA6rM7
									3hcMGUQMT2L1BMB07GPklRIihmfL1+h/ffXDF78eHn8tFDXkcxA0AABAJcQMAABQj93xvo5pDCKG
									p7N6AqBe+yg3jWETIobn+r57/LJE1HA4bvmlKQ0AAFAJMQMAANTBSolps3oCoC77sFJiyopEDVZP
									AABAXcQMAABQ1u54b6XEXIwaNVg9AfAb+xAxzMl11NBaPQEAAMsiZgAAgDJ2x3sRw1xdoobxV0+k
									xiEAFmh/uG1FDLN0jBqsngAAgGURMwAAwLh2x/s6VkqIGIb3ZuzVE/nYRQ2Nlx9YiH2Um8awCRHD
									WKyeAACAhREzAADAeHaVRAxJyDCeUVdPpIwaTGkAFmAfVkoskagBAAAWQswAAADD2x3vrZRYulGj
									BqsngJnbh5USS3cdNbRjrp7o3g/fd+8DQQMAAAxEzAAAAMPZHe9FDLztEjVYPQHwXPsYeRqDiKF6
									x6hhzCkNKaOGw3sjvzSlAQAABiJmAACA/u2O93WslBAx1OuN1RMAT7aPcislNiFiqJ3VEwAAMENi
									BgAA6NeukoghCRnqZ/UEwOP2US5iyJtpDNNi9QQAAMyImAEAAPqxO95bKcHLlFw9kRqHAKjQ/nDb
									ihh4AasnAABgBsQMAABwm93xXsRAP0ZfPZGPXdTQePmBSuxj5GkMIoZZsnoCAAAmTswAAAAvszve
									17FSQsQwL6OunkgZNZjSAFRgH+VWSmxCxDBXogYAAJgoMQMAADzfrpKIIQkZ5mvUqMHqCaCwfVgp
									wbCuo4Z2zNUT3fvt++59JmgAAIAnEjMAAMDT7Y73VkowrkvUYPUEMD/7sFKCcR2jhjGnNKSMGg7v
									vfzSlAYAAHgiMQMAAHzY7ngvYqCsN1ZPADOyDxED5Vg9AQAAEyBmAACA99sd7+tYKSFiIMLqCWD6
									9jFyxJC6kGETIgbeVkPUkO9JQQMAALyDmAEAAN5tV0nEkIQMPCRqAKZof7htC0QMeTONgcdcRw2t
									1RMAAFAHMQMAALxtd7y3UoJpuEQNI62eyMcuami8/MAT7cNKCabhGDVYPQEAAHUQMwAAwEn+pfU/
									RQxM1JuxpjSkjBq6oCF/2PI7Lz/wHvsQMTA9NayeEDUAAMDBR14CAAAWLv+Sene4va4gZHgTQgZe
									7vT++fqn5ngbWDel4XX3+fnVyw88sI/TSolXI4cMm+58uHYIuNH35/fSVz98MVpUkFHD4ZbX2Pzc
									/NNhAABgyUxmAABgyfIHsBkxFPtBrGkMDGC01RP/9X//j/zs5JSG/NejP4YpDYBpDMzP6KsnUkYN
									h/d2hCkNAAAsmJgBAIAlOq2UiPiyVMggYmAEo62eyKjhl08/yykN+QMfqydgmfYhYmC+rJ4AAIAC
									xAwAACyJiIGluUxpSANGDQ+mNIgaYDn2MXLEkK5WSqwdAkZUQ9SwDkEDAAALIWYAAGApalkpIWKg
									BFEDMIT94bYtEDHkzTQGSrqOGlqrJwAAYBhiBgAA5s40Bri4RA0jrJ6IS9TwYwgaYE72YaUEpGPU
									YPUEAAAMQ8wAAMBciRjg/d6MMaUhZdTwy6efvQ5TGmAO9iFigIdqWD0hagAAYJbEDAAAzI2IAZ7G
									6gngOfZRZqXEJkQMTEMNUcM6BA0AAMzIR14CAABmJP/i+HV89/mrwiHDmxAyMB2n9+vXPzVD/0YZ
									NRxur46f09PnFajf/nDbxYghQ0YMh1uek4QMTNH33bV1/dUPX4wWFnRRQ9t9Xv/pMAAAMAcmMwAA
									MAemMcDtrJ4Aru3DSgm4xXFSg9UTAADwcmIGAACmTMQA/bJ6AtiHiAH6YvUEAADcQMwAAMAUiRhg
									WKIGWKZ9jLhOInUhg3USzN111NCOETSkjBoOn7EIUxoAAJgoMQMAAFOTP/h8XSpiSF3IIGJgCS5R
									wwirJ+ISNfwYggYY0z5MY4AxWD0BAADPIGYAAGAqTGOAct6MMaUhZdTwy6efvQ5TGmAM+xAxwNhq
									WD0hagAAYBLEDAAA1E7EAHWwegLmZR8jrpQQMcBv1BA1rEPQAABAxcQMAADUSsQAdbqOGv455OfT
									6gkYxD7KTGPYhIgB3uU6amjHCBpSRg2Hz2aEKQ0AAFRMzAAAQI3yB5ivS0UMqQsZRAzwfm+On9Wv
									fxr8s2r1BPRiH1ZKQM2OUYPVEwAAcCFmAACgJqYxwLScJiZ8/dOXMe6UBlEDPN0+RAwwFVZPAADA
									FTEDAAA1qCFiOP9LNBEDPM/v4jKlQdQAddkfblsRA0yO1RMAABBiBgAAyqopYjiP1wVe5jpqGGX1
									RFyihh99fuEt+ygzjWETIgbok9UTAAAsmpgBAIBS8i9lX5eKGFIXMvghKPRrtNUTKaOGXz797HWY
									0gBpH1ZKwNzUsHpC1AAAQBFiBgAAxmYaA8yf1RMwvn1YKQFzVkPUsA5BAwAAIxIzAAAwFhEDLE/J
									qMHUFZZiHyNOYxAxQHHXUUM7RtCQMmo4fP7P13ZTGgAAGIWYAQCAoYkYgOuo4bXVE9CLfZRZKbEJ
									EQPU4Bg1WD0BAMCciRkAABhS/uXq61IRQ+pCBv9CG+pw+jxaPQG32EeZiCFvpjFAXayeAABg1sQM
									AAAMwTQG4H1Krp4QNTB1+8NtK2IAHigWNVg9AQDAkMQMAAD0ScQAPFXJqMG0FqZmH1ZKAB92HTW0
									Vk8AADB1YgYAAPpSdKWEiAEm6zpqGPwcklHDL59+9jpMaWAa9mGlBPB8x6ih4OoJUQMAAL0QMwAA
									cKtapjH4l9YwbafPsdUTcLYPKyWAlyu2eqI7p3zfnUsEDQAAvJiYAQCAl7JSAuib1RMw8jQGEQPM
									3uirJ1JGDYfzy/nabkoDAAAvImYAAOC5RAzA0KyeYIn2UWalxCZEDLAEVk8AADA5YgYAAJ4j//Lz
									tYgBGInVEyzBPspEDHkzjQGWxeoJAAAmRcwAAMBTtIfb/zk+fvf5vsQT+Pjbn9dx+tejK4cDFuU8
									pWEfX//0l+Pjd5+3Q/1mV1FDnmvyvPNJ+GEvw9kdbtt///k/d2P8ZvftXXN4yNt/dI/AMp2jhvar
									H744/jf+n//wt8H/G79bPfG/4hJT+e96AAAeJWYAAOAxbdQRMazCX3jC0uXnP4OmjBpWMXzUkOe8
									b7qoIa0dAnq0O9z+no9jhAwiBuA9zte2T7764YvtSEFD252X9v4bHwCADxEzAADwLm2IGIA65fng
									HDXEkEFDyqjhl08/23bnRFMauNUuRowYUhcy5Gem8fID73G8to08paHtzlF7/80PAMD7iBkAAHio
									Pdy2Igagcnl+2BSY0iBq4KV2YaUEUK/zde2TglGDlXIAALxFzAAAwFkbdUxj8JeYwFOtwuoJ6rcL
									KyWA6Thf20aPGg7nr/O1XdQMAMCRmAEAgDaslACmLc8bVk9Qm7ym/iVEDMA0na9tGTVsrZ4AAKAE
									MQMAwHK1IWIA5iXPI1ZPUFq+NzJi2P/7z//ZjvEbdiFDBj2Nlx/o2fHaZvUEAAAliBkAAJapPdy2
									IgZghvKcUmr1hKiBfD9sR44Y8mYaAzCk83XN6gkAAEYlZgAAWJY26pjG4F9YAUNbRbmoIa0dgkXJ
									4z/aNAYRA1DI+dpm9QQAAKMQMwAALEMbVkoAy5Tnm3PUEEMGDSmjhl8+/WwbpjQsRV5TRQzA0hyv
									bQVXT/gzBQDAQogZAADmrQ0RA0DEOWqweoL+5HEee6VEhjmNlx6owPm69knBqMG0NwCAmRMzAADM
									V3u4bUUMAP+S5yKrJ7hVHlfTGADevraNHjUczo/hzxsAAPMmZgAAmJ826pjG4F9KAbVaxchRg9UT
									s5DXVBEDwLudr20ZNWytngAAoA9iBgCA+WjDSgmA58jz1DlqCKsneI88diIGgKc5XtusngAAoA9i
									BgCA6WtDxABwizxvbQqsnhA11C+P13aMiCF1IUP+IK7x0gMTdr6uWT0BAMBNxAwAANPWHm5bEQPA
									zfIcNurqibhEDWntEFQlj49pDAC3OV/brJ4AAOBFxAwAANPURh3TGIxxBeZmFSOtnkgZNfzy6Wfb
									MKWhFnlNFTEA9Ot4bSu4eiKv7aIGAIAJEjMAAExLG1ZKAIwhz29WTyxLHgcrJQCGcb6ufVIwahBi
									AwBMjJgBAGA62rBSAmBMea6zemL+8nU3jQFgHOdr2+hRw+H8G/48AwAwLWIGAID6tVFwGoOIAWD8
									qMHqiVHkNVXEAFDG+dqWUcPW6gkAAN5FzAAAUK826lgpYRwrwMkqLlFDWD0xWfnaihgA6nC8tlk9
									AQDAu4gZAADq00YdEcMq/GslgHfJ8+KmwOoJUcPt8vXcjhExpPv27vReETEAPOZ8XbN6AgCAt4gZ
									AADq0h5uWxEDQPXyHDnq6om4RA1p7RA8S75+Y05jWHXHKOOTxssP8CTna9toUYPVEwAAdRMzAADU
									oY2C0xhEDAAvlufMUaOGXz79bBumNDxVXlNLRQyODcDLnM+fGTVsC6ye8OciAIBKiBkAAMpqo46V
									EnbFAtxmFZeoIayeqEK+TlsRA8BkHc+nY6+e6M7re39GAgAoT8wAAFBGG3VEDKvwr44A+pTn043V
									E0Xl6zL2NIaN1x9gEOdz6ydjRw2H83v48xIAQFliBgCA8bWH21bEADBbeW61emJ8eV21UgJgns7n
									WasnAAAWRMwAADCeNgpOYxAxAIwuz7VWTwwvv3cRA8AyHM+7Vk8AACyDmAEAYHht1LFSwl+8AZSx
									ijKrJ5YQNeT3uxUxACzK+Rxs9QQAwMyJGQAAhtNGHRHDKvxlG0BpeQ4edfVEXKKGtJ7Z65nf39jT
									GDYhYgCoyfmcPFrUYPUEAMC4xAwAAMNoD7etiAGAB/KcPGrU8Munn21jPlMa8rpqpQQA187n54wa
									tgVWT/hzFwDAQMQMAAD9aqPgNAYRA8Bk5Dn6HDWE1RNPkt+HlRIAvM/xfD326onuurEPa/0AAHon
									ZgAA6EcbdayU8BdoANOyOp67rZ54TD7vUaYxiBgAJu987v5k7KjhcA05X9eF5QAAPREzAADcpo06
									IoZV+EszgKnKc7fVE7+V19WxV0psQsQAMAfnc/loUYPVEwAA/RMzAAC8XHu4bUUMAPQkz+WjRA2V
									r57I5zZ2xLAO0xgA5uh8Xs+oYWv1BADAtIgZAACer42C0xhEDACzl+f2c9QQI66eqCFqyOezFTEA
									0LPjed7qCQCAaREzAAA8XRt1rJTwr3sAlmF1POePtHoiLlFDWo/8vebvP8o0BhEDwGKdz/lWTwAA
									TISYAQDgw9qoI2JYhb/8AliaPOePsnoiZdTwy6efbWO8KQ15XR17pcQmRAwAS3a+BpRaPeHPdQAA
									TyRmAAB4XP6AZSdiAKCwvAbMbfVE/j5WSgBQyvF6MPbqie66tA8T9wAAPkjMAADwmAF/WPQYEQMA
									75HXhBKrJ/5PnOKDW+WvsT1/baUEAIWdrw2fjB01HK5RcfVnvb1DAQDwW//FSwAAUJcuZPCvdFic
									f/zx97f9+eTrn/4/ryILs49uRUOp+K5mVkpAbP+0/us3L/0/f/XDF990nyFYkryejhY1AADwOJMZ
									AAAqYRoDAM+U14rz6olViBqOTGMA4Abn60ZOatgKGgAAyhIzAAAUJmIA4EZ57ThHDbHUoEHEAECP
									jteRMVdPAADwW2IGAIBCRAwA9CyvJZulTWkQMQAwkPM15RNRAwBAGWIGAIACupAh/xXtyqsBQI9W
									saDVE13IkN/v2qEHYCDna4yoAQBgZGIGAIARmcYAwEjyGjPb1ROmMQBQwPl6k1HDVtAAADA8MQMA
									wAhEDAAUktec2ayeEDEAUIHj9ceUBgCA4YkZAAAGJGIAoAJ5/Zn06gkRAwCVOV+LrJ4AABiQmAEA
									YCBdyJA/PFp5NQCowComGDV0IUM+77VDCEBlztcmqycAAAYgZgAA6JlpDABULq9N56ghag0aTGMA
									YEKO1ylTGgAA+iVmAADoiYgBgInJa9WmtikNIgYAJup8zbJ6AgCgJ2IGAID+ZMTQeBkAmJBVnKY0
									/D/x9U//b3z3+X+v6DkBwBStu8ddZCwIAMCLfeQlAADozV/CX1YBMD157Wo9HwDoTevPhgAAtzOZ
									AQCgJ//44+/bj7/9Ob9chVUTAEzD/nDb1rJiIv1p/df9fXu3PXyZI7qtmgBgStru+mXFBABAD8QM
									AAA9yqAhHz/+9ud9nEZkr7wqAFQor1OniUIVhQxnGTQcHr65b+/O19G1QwZA5fJ6uhUxAAD0R8wA
									ADAAUxoAqNQ+Ko4YHjKlAYAJaMM0BgCAQYgZAAAG8mBKwypEDQCUk9eiyUQM1x5MaRA1AFCLNkQM
									AACDEjMAAAzM6gkACsvrz3ZqEcNDogYAKpLXVCslAAAGJmYAABiJ1RMAjGwfE53G8JgHUUNaO9QA
									jCSvp6YxAACMRMwAADAiqycAGEFeY2YXMTyUUcN9e7cNUxoAGF4bIgYAgNGJGQAAChA1ADCAvKbM
									PmK4ZvUEAANrQ8QAAFCMmAEAoKAHUcMmBA0AvExeR7ZLiRgeEjUAMIC8pm5FDAAA5YgZAAAqkFHD
									x9/+nF+uwpQGAJ5uHwubxvCYB1FDWnuLAPBMeT01jQEAoAJiBgCASlg9AcAz5LVCxPAeGTXct3fb
									MKUBgKdrQ8QAAFAVMQMAQGWsngDgA/L6sBUxPM7qCQCeIa+pVkoAAFRGzAAAUCmrJwB4YB8Tn8bw
									1Q9f5LVsnd/Dn//wt1G+B1EDAI9owzQGAIBqiRkAACpm9QQAMa+VEnkNy6lD+y5sKBU1pLW3FsBi
									5bVHxAAAUDkxAwDAY77+aR2XeKCN7z7fl3gaVk8ALFKe84tHDIdrT15z8nq4P1+PerCKglHDfXu3
									DVMaAJYqrzfFV0ocrkVv/Vmzi+4AALgiZgAAeFxOQmi6rz+Jr386/uudklGD1RMAi5DXmW0lEcP5
									B/67OP0AqE/5e5yjhrB6AoABtVHBNIariOH6z3O77toPAMAVMQMAwNOtu8eMGraVTGlYhagBYE7y
									3F50GsM7IoYx5O+5Kbx6QtQAME9tVLJSogsZTNoDAHgiMQMAwPOtj/cVTGnIR1EDwCzkuXyJEcO1
									/P2LrZ6IS9QQIWgAmIO8htQUMfgzGwDAM4kZAABeZt09flJZ1OBf+QBMS567i0YM3TVk1V1D1hW8
									JufnUiRquG/vtmFKA8DU5XVjK2IAAJg2MQMAwG3W3WPR1RMpo4aPv/05v1yFvywDmIK8ZmwriBjW
									UecP7vO5naOGsHoCgCdow0oJAIDZEDMAAPRjfby3egKAD8tz9NJXSjxHPtdN4dUTogaAurVhpQQA
									wOyIGQAA+rPuHq2eAOBd8pwsYniZVRRcPRGXqCFC0ABQm7weWCkBADBDYgYAgP6tu8cqogarJwCq
									kNeBGlZKbGLaP4w/fw+jrp5IGTXct3fbMKUBoBZtVDCNQcQAADAcMQMAwHDW3WNGDVurJwAWKc+9
									pjH0L78nqycAlqmNulZKmIQHADAQMQMAwPDWx3urJwCWJM+1IoZhrcLqCYClyfO8lRIAAAshZgAA
									GMe6e7R6AmDe8twuYhhXfr/FogarJwBG0YaVEgAAiyNmAAAY17p7LBo1WD0BMIg8p25LRQzdeT3P
									5ZtY5g/Vz997Rg1h9QTALLQhYgAAWCwxAwBAGevuMaOGbSWrJ1bhL+cAXiLPoaYx1CNfi03h1ROi
									BoDbtFFBxJC6kMGaPgCAAsQMAABlrY/3FayeyMcuavAXdQBPk+dMEUOdVlFw9URcooZwXACeLc/X
									20oihjyXC74BAAoRMwAAlLfuHj+pIWr4+Nuf88tV+Es7gMfkeXorYqhevk7Foob79m4bp39Z/B+H
									W+NwADyqDSslAAC4ImYAAKjHunssGjVYPQHwqDw31jCNYRMihuc4v2YZNUSBKQ3N4fHvIWoAeJc8
									J4sYAAD4DTEDAEB91t1jRg1bqycAqpDnQislpi9fw02BKQ27w8NO1ADwG3kermWlhD/zAABURswA
									AFCv9fHe6gmAkvLcK2KYl3w9S62e2MUlakiNwwEsVJ53TWMAAOBRYgYAgLqtu0erJwDGl+e8rYhh
									tvL1LRY13Ld3+aUpDcDS5HlWxAAAwJOIGQAApmHdPdYUNRjDCsxVnuNqmMawCRHDGM6vdUYNYfUE
									wGDy/LoVMQAA8FRiBgCAaVl3jxk1bK2eAOhVnlOtlFiufO03hVdPiBqAOcrzaS3TGATZAAATImYA
									AJim9fHe6gmAPuR5TMRAROHVE3GJGlLjcAATl+dPKyUAAHgxMQMAwHStu8dPRA0AL5bnrq2IgQfy
									uBSLGu7bu/zSlAZgqvJ8KWIAAOBmYgYAgOlbd481RQ3GtwK1y3NVDdMYNiFiqNn5GGXUEFZPAHxQ
									nie3IgYAAPogZgAAmI9195hRw7ZE0JAyavj425/zy1X4C0SgPnlutFKC58pjtim8ekLUANQsz4u1
									TGMQVgMAzISYAQBgftbHe6snAB7Kc5KVErxUHr9iqyfiEjWkxuEAKpHnQSslAAAYhJgBAGCe1t2j
									1RMAhacxiBhmZxUFo4b79i6/NKUBqEGe+6yUAABgMGIGAIB5W3ePVk8AS5TnvBpWSmxCxDBH52Ob
									UUNYPQEsSJ7vrJQAAGBwYgYAgGVYH++tngCWIc8zNUQMee41jWH+8lhvCq+eEDUAY8jzm5USAACM
									RswAALAc6+7R6glgzvLcshUxMLJVFFw9EZeoITUOBzCAPKdZKQEAwKjEDAAAy7PuHotHDVZPAD3K
									81ixaQwiBjr5Phh99UTKqOG+vcsvTWkA+pTnsaLTGEQMAADLJWYAAFiudfeYUcPW6glgovL8UcNK
									iU2IGLg4vie6KQ27P//hb7sxflOrJ4Ae5TW1lpUSprkBACyUmAEAgPXxvp7VE6sQNQAflueLGiKG
									PIeaxsC75PsjfwD3H1/98EUT5aKG1DgcwBPlNbWWiMGfCwAAFk7MAABAWnePn1QUNfgXWMD75Dli
									K2JgIpruViRqsHoCeIa8rm5FDAAA1ELMAADAtXX3WDxq+Pjbn/PLVfiLTOAiz0fFpjGIGLhRE5eo
									IayeACqS19Si0xhEDAAAvIuYAQCAd1l3jxk1bK2eAArL80ANKyU2IWLgdk3eFV49IWoAUl5Ta1kp
									YSobAAC/IWYAAOAx6+O91RNAOfnZt1KCuWmi4OqJuEQN5+cCLE9eV62UAACgamIGAAA+ZN09Wj0B
									jCnPM1ZKMHdNFIwa7tu7/NKUBliWvKZaKQEAwCSIGQAAeKp191gsarB6AhYhP98iBpamiUvUEFZP
									AAPIa6qIAQCASREzAADwXOvuMaOGrdUTQE/y81wsYujOKavunLJ2OCikybvCqydEDTA/eV2tYaWE
									/24HAOBZxAwAALzU+nhv9QRwuzx/bAtHDHlOM42BGjRRcPVEXKKG83MBpiuvq6YxAAAwWWIGAABu
									se4erZ4AXiI/t1ZKwLs1UTBquG/v8ktTGmCa8poqYgAAYPLEDAAA9GHdPYoagKfIz6mIAZ6miUvU
									EFZPAI/Ia6qIAQCA2RAzAADQp3X3mFHDttTqiXzsogZ7eaEu+bksFjF054ZVd25YOxxMTJN3hVdP
									iBqgXnld3ZaKGFIXMvjvbwAAeiNmAABgCOvjfaEpDSmjho+//Tm/XIV/GQY1yPPAtnDEkOcm0xiY
									siYKrp6IS9Rwfi5AeXldNY0BAIBZEjMAADCUdfdo9QQsW37+rJSAfjVRMGq4b+/yS1MaoKy8pooY
									AACYNTEDAABDW3ePtUQNRt/COPLzJmKAYTVxiRrC6glYjLyubkUMAADMnZgBAICxrLvHjBq2Vk/A
									rOXnu/RKiU2IGFiOJu8Kr54QNcDw8rpawzQGcTAAAKMQMwAAMLb18d7qCZij/FyZxgBlNFFw9URc
									oobzcwH6k9dUKyUAAFgcMQMAACWsu0erJ2Ae8nMkYoA6NFEwarhv7/JLUxqgP3ldtVICAIBFEjMA
									AFDSunu0egKmKT+zIgaoUxOXqCGsnoDJyeuqlRIAACyamAEAgBqsj/f1rJ7YOCTwQfl52ZaIGLrP
									6/mzunYo4FFN3hVePSFqgKfL66qVEgAAEGIGAADqse4ea1g9cf6fRA3wbtswjQGmpImCqyfiEjWc
									nwvwW3lNFTEAAMAVMQMAALVZd48lo4Zv8rGLGgQNcLE93n/3+Tdj/8YiBuhFEwVWT6SMGu7bu/zS
									lAb4rTavsSIGAAB4m5gBAIBarbvHjBq2YwcNKaMGUxrgX7YiBpiNJu+snoDi2qhjGkP+d+7K4QAA
									oDZiBgAAarc+3tcxpSGJGlia0tMYNiFigCE0YfUElNKGlRIAAPBBYgYAAKZg3T1aPQHjsVIClqGJ
									glGD1RMsUBtWSgAAwJOIGQAAmJJ191g0ajClgZkTMcAyNXGJGsLqCehdGwWnMYgYAACYIjEDAABT
									tO4eM2rYWj0BvdmKGGDxmrwrvHpC1MCctFHHSon879WVwwEAwJSIGQAAmLL18d7qCbhV6WkMmxAx
									QE2aKLh6Ii5Rw/m5wFS1YaUEAAC8mJgBAICpW3ePVk/A81kpATymiYJRw317l1+a0sAUtWGlBAAA
									3EzMAADAXKy7xyJRg9UTTIyIAXiOJi5RQ1g9Ae/VhogBAAB6I2YAAGBu1t1jRg3bwqsnkqiB2mxF
									DMALNXlXePWEqIEatVEwYkhdyJD/3blyOAAAmAsxAwAAc7U+3hdcPZGPXdQgaKAGpacxbELEAHPQ
									RMHVE3GJGs7PBUpr8xpbOGLI66xpDAAAzI6YAQCAOVt3j5+UjBpMaaAwKyWAITRRMGq4b+/yS1Ma
									KKkNKyUAAGBQYgYAAJZg3T0WiRqsnqAgKyWAoTVxiRrC6gkWoA0RAwAAjELMAADAkqy7x4watlZP
									MGNFpjGIGGDRmrwrvHpC1MDQ2ii/UiL/G3LlUAAAsARiBgAAlmh9vLd6gvkpvVJiEyIGWLImCq6e
									iEvUcH4u0Jc2TGMAAIDRiRkAAFiqdfdo9QRzUDpiWIdpDMBFEwWjhvv2Lr80pYE+tCFiAACAYsQM
									AAAs3bp7PEUNI/8w2OoJerAVMQCVauISNYTVE0xMG4VWSogYAADgRMwAAAAn6+P91z8V+dftVk/w
									AiWnMeTvKWIAnqrJu8KrJ0QNPFUb5acx5H8LrhwKAACWTswAAABv2xyDhlR2SsPpucBvFYsYuvfn
									N96bwAs0UXD1RFyihvNzgYfasFICAACqImYAAIDfOv2gVtRAXWqIGLwfgVs1UTBquG/v8ktTGrjW
									hogBAACqJGYAAID3u0QNhVZP5GMXNfgB8rJtRQzAzDRxiRrC6gkKafMaWyJiSFZKAADA48QMAADw
									YcVWT6SMGkxpWKxi0xhEDMBImrwrvHpC1LA8bZjGAAAA1RMzAADA01g9wZhqWCnhPQaMpYmCqyfi
									EjWcnwvz1YaIAQAAJkPMAAAAz1NT1OCHzfNkpQSwVE0UWD2RMmq4b+/yS1Ma5quNQislRAwAAPAy
									YgYAAHiZS9Rg9QT9sFIC4KTJO6sn6Ekb5acx5PV15VAAAMDziBkAAOA2G6snuJGIAeC3mrB6gtu0
									YaUEAABMmpgBAABuZ/UEL1EsYujeL994vwAT0ETBqMHqiclqw0oJAACYPDEDAAD0p3jUYErDZGwL
									RwzeI8DUNHGJGsLqCd6jjULTGEQMAADQPzEDAAD07xI1WD3B26yUALhNk3eFV0+IGurTRvmVEnl9
									XTkUAADQHzEDAAAMZ1PJ6onTc6EkEQNAf5oouHoiLlHD+blQThvlI4ZVmMYAAACDEDMAAMCwiq+e
									yMcuavDD7DJKr5Rw3IG5aqJg1HDf3uWXpjSU0+Y1VsQAAADzJWYAAIBxFI8aTGkYnWkMAONo4hI1
									hNUTs9dGoWkMIgYAABiXmAEAAMZ1iRqsnpgrEQNAGU3eFV49IWoYThvlV0rk9XXlUAAAwDjEDAAA
									UMbG6onZETEAlNdEwdUTcYkazs+FfrRhpQQAACyOmAEAAMqxemI+tiUihtSFDI4fwNuaKBg13Ld3
									+aUpDbdrw0oJAABYLDEDAACUVyxqsHriZqYxANStiUvUEFZPTEYbIgYAAFg8MQMAANTjEjVYPVE7
									EQPAtDR5V3j1hKjhadoou1Iir68rhwEAAMoTMwAAQH02Vk9US8QAMF1NFFw9EZeo4fxceFu+Rhl8
									mMYAAAAciRkAAKBOVk/UZ1siYuiOxTeOA0BvmigYNdy3d/mlKQ0Xu+71GO04nIkYAACgbmIGAACo
									m6ihPNMYAOapiUvUEFZPjG4XIgYAAOARYgYAAJiGS9RQYPVEPnZRw5J+qC5iAFiGJu8Kr55YWtSQ
									3/t27IghdSFDXl9X3voAAFA3MQMAAEzLpsSUhpRRw4KmNGxFDACL0kTB1RNxiRrOz2Wu8ns1jQEA
									AHgSMQMAAEyP1RPDKT2NQcQAUFYTBaOG+/Yuv5zjlIZdiBgAAIBnEjMAAMB0WT3RHyslALjWxCVq
									CKsnbpLfk5USAADAs4kZAABg+qyeeDkRAwCPafKu8OqJqUYNuzCNAQAAuIGYAQAA5sHqiefbihgA
									eIImCq6eiEvUcH4utcvnLGIAAABuJmYAAIB5qSVqqPkH9aWnMYgYAKapiQKrJ1JGDfftXX5Z+5SG
									fE22IgYAAKAPYgYAAJinS9Rg9cSZlRIA9KHJO6sn3rKLstMY8vq68tYEAIB5ETMAAMC8bayeEDEA
									0LsmrJ5I+VyslAAAAAYhZgAAgPmrZfXE5bmMZytiAGBATRSMGgquntiFiAEAABiYmAEAAJajlqhh
									jB/wl57GIGIAWJYmLlFDzHz1RP6eWxEDAAAwNDEDAAAszyVqGPmH/Rk1DDilYfuvr0xjAKCMJu8K
									r574e/c/9/1776LsNIa8vq68xQAAYDnEDAAAsFybWa2eKBAwdN/HN71+HwBMXRMFV0/E/CKGVZjG
									AAAAiyRmAACAZatl9cTkiBgA+IAmCkUNPTk/VxEDAABQhJgBAABIxaOGKelCBhEDAE/RxCVqiKkE
									Dd3zHPW5ihgAAIBrYgYAAODaJWootLahZqYxAHCDJu8mOqVhcPftXdNdX1deDQAAIIkZAACAd9mU
									mNJQKxEDAD1pYtqrJ3rXRQzH1ySEDAAAwBUxAwAA8D7FVk/UQsQAwECaWHjU8CBiaLwlAACAh8QM
									AADAhywyauhCBhEDAENq4hI1xBKCBhEDAADwVGIGAADgqS5Rw4yDBtMYACigybu5T2noQoZNiBgA
									AIAnEDMAAADPtZnjlAYRAwCFNTHT1ROmMQAAAC8hZgAAAF5iNqsnRAwAVKaJmUQNIgYAAOAWYgYA
									AOAWk44aupBBxABAjZq4RA0xpaBBxAAAAPRBzAAAAPThEjVMIGgwjQGACWnybipTGrqQYRMiBgAA
									4EZiBgAAoE+bmqc0iBgAmKgmKl89YRoDAADQNzEDAADQt5pXT4gYAJiyJi6hwK6GJyRiAAAAhiJm
									AAAAhlLj6ontW88NAKZld7j9PeoKGayUAAAABiFmAAAAhpY/5Pimhifyjz/+/vg8Pv725+vnBgC1
									20UXMVS2XqIJIQMAADAQMQMAADCkbY1P6kHUIGgAoGa7vJ5WFjFcP7dkxQQAANA7MQMAADCEU8RQ
									z3qJd8qowZQGACq1izqnMfzLn9Z/zee169ZN5HMVNQAAAL0RMwAAAH2aRMRwzeoJACqzi8ojhodE
									DQAAwBDEDAAAQF+2U4oYHrJ6AoAK7KLelRIf9CBqSI1DCgAAvNRHXgIAAOBG25h4yHCtixq2cZ4y
									AQDD252vPVMNGa51UcP5WrpzeAEAgJcwmQEAAHipya2UeCqrJwAYyS4mtlLiqayeAAAAbiVmAAAA
									XmI7x4jhIasnABjILmYaMTxk9QQAAPBSYgYAAOA5ZjuN4TEZNZjSAEBPdjGTdRLPkVHDfXuXX5rS
									AAAAPImYAQAAeIpFRgzXrJ4A4Ea7WMg0hvexegIAAHgOMQMAAPCYxUcMD1k9AcAz7WLhEcNDogYA
									AOApxAwAAMD7bEUM72f1BABPsIsFrpR4qgdRQ2q8KgAAwJmYAQAAeMg0hieyegKA99iFaQxPllHD
									fXsX3Wv23w63lVcFAAAQMwAAAGcihheyegKAzi5EDC9yNaVhH6eYQdQAAAALJ2YAAACSlRI9sHoC
									YLF2IWLoxZ/Wf23zsYsa8lq68qoAAMAyiRkAAGDZXh3vv/t8V+oJfPztz2/y8R9//P2rm36hr396
									030vr0q+oFdTGs6v6RtvM4BZaw+37Z//8Ld9DU/mvr1bx2mqwV/OYcBLfPXDF//6dQ7fWzv295HP
									/fC9/Hr48t8Ot+8Pt995qwEAwLKIGQAAYJmqiRgOmp5+ydOvU0/UsOu+z3weggaA+WkPt78cbvsa
									QoariGHV3f5+4y+56q6tq69++KJI1PCn9V9/7b631yFqAACAxREzAADAshSPGFIXMjQD/fKnX7ei
									qKELGpKoAWD62qg7Yujb+dfNqCEKTWkQNQAAwAKJGQAAYDleVRIxpGaE3+70e2TUUNeUhiRqAJim
									NupbKbGJYSKGh/L32JSa0pAeRA0/hqABAABmTcwAAADzN8eVEs/RWD0BwI3aWNY0hvc5/36r0lGD
									KQ0AADB/YgYAAJivpUcM106/v9UTADxPGyKGdzn//sWiBqsnAABg/sQMAAAwT7WslGgqe11Oz8fq
									CQAe14aI4SnOzyejhrB6AgAA6JOYAQAA5sU0hqexegKA92kPt20NEUPqQoZN1BUxPJTPbWP1BAAA
									0CcxAwAAzIOI4flOz9PqCQBO2jCN4Rbn52n1BAAA0AsxAwAATJuI4Xan511B1GD1BEARbYgY+nR+
									3qIGAADgJmIGAACYrlclI4bUhQzNTF7P0/eRUYPVEwBL0UYlKyVmEDE8dP4+MmqIUqsnutc2o4Yf
									Q9AAAACT8pGXAAAAJudVFA4ZMmKYWchwrTkGDedJDQV1UcOrOE/gAKAvbXdurSlk2HTX1dXMXuv8
									fjZf/fDFm8NtXeIJdFHD6+6Y/+rtDwAA02AyAwAATIeVEuM5fX9WTwDMTRtWSpRw/v6sngAAAJ5M
									zAAAANPwSsRQxOn7rS9qEDQAPE8bIoYanL/fWqIGqycAAKBi1kwAAEDdqlgpEacf6jcLPg6n79/q
									CYApauO0TmJnpUQ1Vt33v7F6AgAAeB+TGQAAoE5WStSpsXoCYDLaMI2hdvk6bKyeAAAA3kXMAAAA
									dREx1O/0uogaAGrVhohhSs6vy3n1xJeH4zbqpARRAwAA1EnMAAAA9Si6TiJdrZTgw06vU0YNBYOG
									9CBqEDQAS9bGaaXEvvQTETE82/l1+vGrH754PXbQkB5EDT+GoAEAAIr6yEsAAADFvYrCIUNGDEKG
									FzutnjhPaiioixpexXnCB8BytN25r6aQYdNdV1cOz7NkQJBBw5vDrUhM0EUNr7v31K8OCQAAlGEy
									AwAAlGOlxHycXj+rJwDG1oaVEnN0jhgyavhnWD0BAACLJGYAAIAyXokYZun0etYXNQgagLlpQ8Sw
									BLVFDVZPAADAiKyZAACAcVWxUiJOP3RvHI7BnF5fqycAhtDGaZ3ErnTIkBHD4ZbneislhvW77vX9
									0eoJAABYDpMZAABgHFZKLFNj9QRAb9qobxpDRgwrh2Y0GTJYPQEAAAshZgAAgGGJGDi97lZPALxU
									G1ZKcFHb6glRAwAADETMAAAAw3klYuDK6ThUEjWY0gBMRBunlRL70k9ExFCd2qKGH0PQAAAAvfrI
									SwAAAL17FXWEDE0IGWp0Oi7nqKGQDBq6SQ2v4jxBBKAebXduKh4yZMRwuOU5e9Odw1cOT1V+1x2X
									jBqKxARd1PC6e8/+6pAAAEA/TGYAAID+WCnBczRWTwD8Rhv1rZTIiGHl0FQvQwarJwAAYEbEDAAA
									0A8rJXiJ0/GyegKgjfoiBislpsfqCQAAmBExAwAA3KboNAYRw2ycjl9GDfVMaUiiBmAMbVSwTiKJ
									GGajiqjBlAYAALiNmAEAAF6mlpUSjUMxK1ZPAEvSRiXTGEQMs3UdNby2egIAAKZFzAAAAM9TS8SQ
									Godjlk7H1eoJYL7aqG+lxCZEDHOWAUEtqydEDQAA8ERiBgAAeLpXIgZGdDrOhaMGqyeAnrVhpQRl
									VLF6onvvZdTwYwgaAADgUWIGAAD4sKLTGEQMi3c67hk1WD0BTFcbVkpQhyqiBlMaAADgw8QMAADw
									frWslGgcCo7vg7pWT+QPXr53WIAPaEPEQJ2uo4bXVk8AAEB9xAwAAPBuVkpQo9P7oYLVE4f3aP4Q
									Jm+iBuBd2qgkYkhdyLAJEQO/ldcxqycAAKBCYgYAAHiblRJMwen9UTBq+Mcff58/9DlHDUnQAJy1
									h9u2oojBNAY+xOoJAACokJgBAABOvoz8V+YiBqbl9H7JqKHclIZ/Ht6/bZjSAFgpwfQVjRqsngAA
									gLeJGQAAWLpTxHAKGf5Z4gl0IUPjUHCDpqIpDaIGWJ42RAzMy3XU8Lrw6glRAwAAiyVmAABgyTJk
									aAtHDKlxKOjB6X1k9QQwrjbqWimxCRED/cmAoOjqie69nVHDjyFoAABgYcQMAAAsUdFpDCIGBnZ6
									X1k9AQwrP+OmMbAERVdPpIwaTGkAAGCJxAwAACyJlRIsidUTwBDaEDGwTFZPAADAyMQMAAAshZUS
									LNHp/Wb1BHC7NiqJGJKVEhRk9QQAAIxEzAAAwNxZKQGVRA1WT8Bk5Wd3W1HEYBoDpVk9AQAAIxAz
									AAAwVyIG+K3T+zGjBqsngA9rw0oJeEzRqMHqCQAA5k7MAADA3BSNGFIXMjQOBRVrrJ4AHtGGiAGe
									4zpqeF149YSoAQCA2RAzAAAwJxkytIUjhtQ4FEzA6X1q9QTwtvxM1rRSYhMiBqYjr2VFV090n52M
									Gn4MQQMAABMnZgAAYA6slICXO71vrZ6ApWvDNAboQ9HVEymjBlMaAACYAzEDAABTJmKA/lg9AcvU
									hogBhlA0arB6AgCAORAzAAAwVTWslGgcBmbm9J62egKWID9nIgYY3nXU8NrqCQAAeDoxAwAAU2Ma
									Awzv9P4uFDVYPQGDaw+3bemIIXUhwyZEDMxfXsusngAAgGcQMwAAMBUiBhjf6f2eUUP51ROiBrhd
									G6YxQElWTwAAwDOIGQAAqJ2IAcprSq+eiEvUkAQN8DxtiBigJqIGAAB4AjEDAAA1y5ChLRExpC5k
									aBwGODp9FgpHDYfPZRumNMBz5GdmK2KAKl1HDa9LrJ7oPp8ZNfwYggYAACojZgAAoEamMUC9Tp+L
									U9SQn9Evx/zNrZ6AJ2ujrmkMmxAxwPvktazIlIaUUYMpDQAA1EjMAABATUpHDOe/vG0cCvig5vh5
									+fqnGDtoSFZPwHu1YaUETJHVEwAA8ICYAQCAWhRbKXEVMeTt3xwKeLL8vKzj65/ys/NrqajB6gk4
									ys+BiAGmr6aoweoJAACKEjMAAFBaDdMY1iFigJfKz04TpykNRaIGqyfgGDJsRQwwK9dRw2urJwAA
									WCIxAwAApdSyUsI0BujHddRg9QSMo426pjFsQsQAfcv/VrV6AgCARRIzAAAwNhEDzJvVEzC8fH9b
									KQHLUdPqCVEDAACjETMAADCm/KFmK2KA2bN6AobThpUSsFQ1RQ0/hqABAICBfeQlAABgBPlDzFdR
									NmRYx+mHq0IGGM85ashJDW8Ot9FjgowaDrddnH4A/KVDwoS13bW0aMiQEcPh9iZOKyXy871yaGB0
									v+s+fxk1jB4UdFHD6+6c9KvDAQDAUExmAABgSFZKABFvT2oIqyfgWfJ9W9NKiYwYVg4LVCGvZ1ZP
									AAAwW2IGAACGYqUE8FB+HtdWT8CTtFFXxGClBNTJ6gkAAGZLzAAAQN9qmMawDhED1Op6SkMNUUMS
									NFCbNgqvk0giBpiU66jh9ZhBQ8qowZQGAAD6JmYAAKAvVkoAz1FF1GD1BJXJ96OVEsAtrJ4AAGA2
									xAwAANxKxADc4jpqCKsnWKg2rJQA+lPT6glRAwAALyZmAOD/Z++OdeO4sgQMXxHzAE4n60fQI0jO
									DAjYcDNud6pMWEAwYAxoghjAUOJMKWvmFVaAsyGBfQHFGzlzOm+grUNWm21aJJvdVffeqvt9QA2N
									AUbdriKrRupf5wAcIz507EQMwAji53ht9QQN6pKVEsA0aooaLpOgAQCAZzpxCgAAOEB8yPg6lQ0Z
									1un2b3MLGWA5tlMaImq46o/sQcEQNXTDPe6dS8KEtt9nRUOGiBj64yrdrpSIn7+VSwOL83L4+Y6o
									IXtQMEQNm+Ge99nlAABgXyYzAADwHFZKADlYPcGSdamulRIRMaxcFmhCPM+sngAAYDbEDAAA7MtK
									CSA3qydYki7VFTFYKQFtsnoCAIDZEDMAAPCUYtMYRAxA+uOUhmJRQ38/6pIpDRwuvn/ORQxARYpH
									DaY0AADwFDEDAAAPqWGlxDqJGIBbRaMGqyc40OfheVp0GoOIAXjEbtSwsXoCAICaiBkAALivhojB
									NAbgIbtRQ7J6gkptI4Z/5/xg8GuGkOEsiRiAx8X/965h9YSoAQCA34kZAADYFR+8dCIGYAbiPrG2
									eoIKxffEppKIwTQG4DmKr54Y7l8RNVwmQQMAQPPEDAAAhGLTGEQMwBGsnqAmVUxjEDEAIygeNZjS
									AABAEDMAALSthpUS6yRiAI5j9QQliRiApdqNGjZWTwAAkJuYAQCgXVZKAEtj9QQ5VRExhCFkOEsi
									BmAa8UyzegIAgOzEDAAA7bFSAlgyqyfIIa7tppKIwTQGIAerJwAAyE7MAADQDhED0JKaooYgaFgG
									KyWA1hWLGqyeAABoj5gBAGD5ikUMYQgZ1knEAJSxGzUkqyc4kIgB4I92o4ZNwdUTogYAgAUTMwAA
									LFt88NIVjBhMYwBqEfehtdUTHKCmlRJnScQA1CWeacVWTwz3x4gaLpOgAQBgccQMAADLZKUEwJ9Z
									PcFzmMYAsJ9iqydCRA2mNAAALJOYAQBgWUQMAE8rHjVYPVE1EQPAYYpFDVZPAAAsk5gBAGA5Sq+U
									WCcRAzAvu1FDsnqieSIGgHHsRg0bqycAADiUmAEAYP5MYwA4Tty/1lZPNC3O/6ZkxBCGkOEsiRiA
									ZYjnqtUTAAAcTMwAADBfIgaA8Vg90SbTGACmZfUEAAAHEzMAAMxPsYghWCkBLJzVE20QMQDkVcvq
									CVEDAMCMiBkAAOYlPnjpCkYMpjEArahl9YSoYXxWSgCUU3T1xHD/jajhMgkaAACqJ2YAAJgHKyUA
									8iu+eiLdRQ1B0HAc0xgA6lBs9USIqMGUBgCAeRAzAADUTcQAUF7xqKG/J3fJlIZDiRgA6lQsarB6
									AgBgHsQMAAD1Kr1SYp1EDAC7dqOGZPVE9UQMAPOwGzVsrJ4AAGBLzAAAUB/TGADqFvfHtdUTVYvz
									sykZMYSL7jS+R86SiAFgH3HPtHoCAIDfiRkAAOohYgCYD6sn6lTLNIbtNYnvk5XLArA3qycAAPid
									mAEAoDwRA8B8FYsarJ74gxojBh+AARxO1AAAgJgBAKCw+OClyx0xhCFkWCcRA8AYdqOGZPVEVsVX
									SogYACazGzVscq+eGO7xETVcur8DAOR34hQAABQRH3K9TgVChogY+uMqCRkApvDNzf31+1+u+iNr
									VDBEDd3wfHnXwLn+PPy71hAyxIdcr5IPugCmcnOvff/xzVV/ZL3XDlHDZnjmfHYpAADyMZkBACAv
									KyUAls/qiWlZKQHQJqsnAAAaI2YAAMinyEoJEQNAMVZPjEvEAEBK9UQNVk8AAEzMmgkAgOkVXSmR
									btdJvEpCBoBSrJ443s2I7w9vP12XChkiYuiPWNNkpQRAHV4O9+NLqycAAJbJZAYAgOlYKQHAltUT
									h6lpGoO/gQtQp5t7tNUTAADLI2YAABifiAGAh9QSNYSagwYrJQB4jlpWT4gaAABGJGYAABhXfPDS
									iRgAeMJu1JByBQ0hoob+udGleqc0bFdKiBgAeK5aogbTfAAARnDiFAAAjCI+hIp9qaVChnW6/VBM
									yAAwL9/c3MO//+WqP7JFBRE09Mf1zXPr9vn1roJz8Xl4L8VChogY+uMq3X4IFc9VH0QBzNPL4T4e
									UUPWe/kQNWyGZ9pnlwIA4HAmMwAAHMdKCQCO1frqiZpWSvibtADLcnNvt3oCAGCexAwAAIezUgKA
									MRWNGgqsnqgpYrBSAmC5rJ4AAJgpMQMAwPMVmcYgYgBoxm7UkApNaZg6argZwS1iACCjolGDKQ0A
									AM8nZgAA2F/plRLrJGIAaMk3N/f+Za2eiF8zdogXm8YgYgBo3m7UsLF6AgCgXmIGAICnlY4YTGMA
									aFdNqyf+49hf88PbTzehRKmTOYQMxnwDkIZnQenVE9uoAQCArxAzAAA8Lj4w+lXEAEBhNayeuJ7r
									yTONAYAHFF09MTyjNje/5wQA4E9eOAUAAHWxUoJW/fbDt8f9/uT7X744izQiPmzZTgx653Q8TMRA
									487/tv7nj4f+j99/fBP/2zOnkcbE83VTahUSAAB/ZDIDAEAlTGMAYE/FVk/MiZUSABygyOoJAAC+
									TswAAFCYiAGAA4kavsI0BgCOVGz1BAAAfyRmAAAoRMQAwEh2o4bUatAgYgBgZKIGAIDCxAwAAAUM
									IcM6iRgAGM83N8+WxqY0iBgAmNhu1LARNAAA5CNmAADIyDQGACbW1OqJIWS4TCIGAKZ388wxpQEA
									IB8xAwBABiIGADJb9OoJ0xgAKMTqCQCAjMQMAAATEjEAUNiiVk+IGACohKgBACADMQMAwESGkGGd
									RAwAlDX71RMiBgAqtRs1bAQNAADjEjMAAIzMNAYAKjXLqGEIGS6TiAGAet08q0xpAAAYl5gBAGAk
									IgYAZmI3aki1Bg2mMQAwM1ZPAACMTMwAAHAkEQMAMxXPrHVtUxpEDADMnKgBAGAkJ04BAMDR4g+r
									XiUhAwDzs53S8J/p+1/+u7L3JGQAwO8TAQAaJmYAADhe/E1Wf9MGgLmKZ9h/9sf/VPR+3rksAPi9
									IgBA28QMAABH+u2Hb+MPpzb98Tr5gyoA5uX2GfbTd//bH/9Xwxv62/qfMZK7G56rogYA5ujd8Bzr
									Prz99G+nAwDgMH9xCgAAjjcEDemvf/9XRA0xRjR2fRuPDUCtttMP/p1++q66EG8IGq4vutPte/vZ
									JQNgBraTGD6LGAAAjidmAAAY0b2o4TIJGgCoS9URw30RNVx0p93wvuOZKmoAoFbxfDWJAQBgRGIG
									AIAJRNRgSgMAFZlVxLDr3pQGUQMAtTGNAQBgImIGAICJWD0BQCXiebSZW8Rwn6gBgMqIGAAAJiZm
									AACYmKgBgEJmO43hMfeihpQEDQDkJWIAAMhEzAAAkMm9qOEyCRoAmMYiI4b7Imq46E67ZEoDAPnE
									87UTMQAA5CFmAADILKIGUxoAmEATEcMuqycAyMQ0BgCAAsQMAAAFWD0BwMjiubJpJWK4T9QAwERE
									DAAABYkZAAAKEjUAcKTmpjE85l7UkJKgAYDDiBgAACogZgAAqMC9qOEyCRoAeJyI4RERNVx0p10y
									pQGA54vnaydiAAAoT8wAAFCRiBpMaQDgCU2vlNiX1RMAPJNpDAAAlREzAABUxuoJAB5QZBpD/zza
									RgCf+2fUu2N+rfcf3/z+a314++ldjvcvagDgCSIGAIBKiRkAAColagBgUDpi+GbE50/8Wq/i1xvC
									hlJRQ0qCBoDWiRgAAConZgAAqNy9qOEyCRoAWlEkYhieOS8nfuYUjRouutMumdIA0LJ45nQiBgCA
									uokZAABmIqIGUxoAmhEftG8KRQxjT2N4zG7UkKyeAGBipjEAAMyImAEAYEasngBYvCWtlHiOeN11
									4dUTogaA5RIxAADMkJgBAGCGRA0Ai9NqxLCr6OqJdBc1pCRoAFgKEQMAwIyJGQAAZuxe1DDlbnMA
									plEkYhieHS8rfXYUjRouutMumdIAsATx7OhEDAAA8yVmAABYgIgaTGkAmJ34wHxTKGKoZRrDY3aj
									hmT1BAB7Mo0BAGAhxAwAAAth9QTAbFgp8TzxfteFV0+IGgDqJ2IAAFgYMQMAwMKIGgCqZaXE4Yqu
									nkh3UUNKggaA2ogYAAAWSswAALBQ96KGOX+ABbAEVkqMo8jqiRBRw0V32iVTGgBqEs+BTsQAALBM
									YgYAgIWLqMGUBoBirJSYhtUTAG0zjQEAoAFiBgCABlg9AZCdiGF6Vk8AtEfEAADQEDEDAEBDrJ4A
									mFyRiGG4t79s9N5eNGqwegIgGyslAAAaI2YAAGiQ1RMAk4gPtDeFIoZWpjE8ZjdqSFZPACyGaQwA
									AI0SMwAANMrqCYDRWClRlzgf68KrJ0QNAMcTMQAANE7MAADQOFEDwMFEDPUqunoi3UUNKQkaAJ5L
									xAAAwA0xAwAAN+5FDS3uXAd4jpIrJdyj91c0arjoTrvhe+W/+mPtcgA8Ke7RnYgBAIBw4hQAALBr
									iBoiaHidbj+AAeDO5+H+uMk9jaE/rpKQ4VDbqCHWT2SblBBBQ39c9/94PnzfdC4FwFe9294nhQwA
									AGyZzAAAwJ9YPQHwJ1ZKLEOcx3WBKQ2/9l9+vehO4+s/kkkNAFtWSgAA8CAxAwAADxI1AIgYFqjk
									6olf013UENYuB9AoEQMAAE8SMwAA8KR7UYMR50ArbtfuZIwYhnvtS/faLIpGDRfdaayeMKUBaFHc
									a62TAADgSSdOAQAA+xqihggaYp/tZ2cEWKjPw31uk3saQ39cJSFDbtuoIdZP/JzrRSNo6I/r/h/P
									h++3zqUAFu7d9n4nZAAAYB8mMwAA8CxWTwALZqVE2+L8rwuvnjCpAVgiKyUAADiImAEAgIOIGoAF
									ETGwVXT1RLqLGsLa5QBmTsQAAMBRxAwAABzlXtRgNDowN7frczJGDMM986V7ZtWKRg0X3WmsnjCl
									AZizuGdaJwEAwFFOnAIAAMYwRA0RNMQe3M/OCFC5z8P9apN7GkN/XCUhw1xso4ZYP/FzrheNoKE/
									rvt/PB++TzuXApiJd9v7lpABAIBjmcwAAMBorJ4AZsBKCQ4R121dePWESQ1AzayUAABgdGIGAABG
									J2oAKpV9pYSIYVGKrp5Id1FDWLscQCVEDAAATEbMAADAZO5FDUaqA6WUnMbg3rc8RaOGi+40Vk+Y
									0gDUIO591kkAADAZMQMAAJOLqMGUBqAAKyWY0m7UkKyeABpiGgMAAFmIGQAAyMLqCSAjEQM5xfVe
									F149IWoAchAxAACQlZgBAICsRA3AxOIes8kZMQz3NCsl2lZ09US6ixrC2uUARiZiAACgiBOnAACA
									EiJq6I/rFB863v7hKMAx4j7yOmUOGSJi6I+rJGTg1jZqiEkNP+d84SFqOB9+DjqXAhhJhAzdh7ef
									roUMAADkZjIDAABFRdRgSgNwBCslqNHu6ol/fHj7qcvxolZPACMyjQEAgOLEDAAAFGf1BHAAEQO1
									205pWL3/+CaiglJRQ1i7HMCeRAwAAFRDzAAAQDXuRQ1GtgMPiXtF1nUSw73ppXsTB1htjxJRw0V3
									GqsnTGkA9rFdKSFiAACgCidOAQAAtRmihggaYu/3Z2cEGHwe7gub3NMY+uMqCRk4zirdTmo4e//x
									zTrXi0bQ0B/X/T+eDz8/nUsB3PNue38QMgAAUBOTGQAAqJLVE8AOKyVYklW6DRpKrp4wqQFIyUoJ
									AAAqJ2YAAKBqogZoXvaVEiIGMlilgqsn0l3UENYuBzRHxAAAwCxYMwEAwCxE1NAf1+l2/YTVE7B8
									xVZKpNt1Eq+SkIHprdLd6omr3OsnktUT0KIIGWKdxLWQAQCA2pnMAADArETUYEoDLJqVErRole4m
									NSSrJ4AJmMYAAMDsiBkAAJgdqydgkUQMcBs0nBVePSFqgGURMQAAMFtiBgAAZkvUAIsRP8sbEQPc
									WKW7KQ0lo4awdjlgtkQMAADM3olTAADA3EXU0B/XKT4Mvf1DW2Ae4uf1dSoTMlz2x6skZKBeq+F7
									NCY1XPXHOtcLD1HD+fDz2bkUMDsRMnQf3n66FjIAADBnJjMAALAYETWY0gCzYKUE7G+V7iY1JKsn
									gEeYxgAAwKKIGQAAWBSrJ6BqIgY43CrdTmkouXpC1AB1EjEAALBIYgYAABZJ1ADViZ/JjYgBjrJK
									d1MaSkYNYe1yQHEiBgAAFu3EKQAAYMkiauiP6xQfot7+YS+QV/zcvU5lQobL/niVhAwsz2r43o5J
									DVf9sc71wkPUcD78XHcuBRQTIUP34e2nayEDAABLZTIDAABNiKjBlAbIykoJmN4q3U1qSFZPQBNM
									YwAAoBliBgAAmmH1BGRjpQTktUq3UxpKrp4QNcC0RAwAADRHzAAAQHNEDTCZ7NMYRAzwu1W6m9JQ
									MmoIa5cDRiNiAACgWWIGAACadS9quEw+CIVDlVwp4WcX/miVCkYNF93peTKlAcYSz9ZOxAAAQKvE
									DAAANC+ihp0pDVfOCOytZMRgGgM8bpXuooZk9QTMimkMAACQxAwAAHBjZ0rD6+G/EjXA4+JnZiNi
									gOqt+uOs8OoJUQPsR8QAAAA7xAwAALDjtx++vY6vogZ4VPx8WCkB87FKBVdPpLuoIaxdDvgTEQMA
									AHyFmAEAAL7iXtQgaIBbt5HPT99d53pB0xhgVKtUYPVEiKjhojs9T6Y0wH0RMnQiBgAA+DMxAwAA
									PCKiBlMa4MZrEQMsxipZPQGlmcYAAABPEDMAAMATrJ6gcVmnMYgYIJtVsnoCShAxAADAnsQMAACw
									J6snaEyplRKXScQAOa1SwajB6gkaY6UEAAA8g5gBAACeyeoJFq5UxGAaA5S1SndRQ7J6AkZlGgMA
									ABxAzAAAAAeweoKFei1igOat+uOs8OoJUQNLIWIAAIAjiBkAAOAIogYWIus0BhEDVG+VCq6eSHdR
									Q1i7HMyQiAEAAEYgZgAAgBHcixoEDcxFqZUSl0nEAHOwSgWjhovu9DyZ0sD8RMjQiRgAAOB4YgYA
									ABhRRA2mNDADpSIG0xhgnlbpLmpIVk/AV5nGAAAAIxMzAADAyKyeoHKvRQzAgVb9cVZ49YSogdqI
									GAAAYCJiBgAAmIiogcpkncYgYoDFWqWCqyfSXdQQ1i4HBYkYAABgYmIGAACY2L2oQdBAbqVWSlwm
									EQMs2SoVjBouutPzZEoD5UTI0IkYAABgWmIGAADIJKIGUxrIzEoJYGqrdBc1JKsnWDjTGAAAICMx
									AwAAZLSd0tB7Ef/x17//64uzwuh++u5Fzpfrv49fJYEOtG7VH5fvP76JqSznH95++jHHi26jhv6I
									5+vmojuN1z1zORjZ6/57+tppAACAvMQMAABQ0G8/fCtqYDwiBqAOZ+8/vomgIFvUsPW39T9/vOhO
									b96Dy8AIRAwAAFDQiVMAAADlbaMGOEhEDEIGoD4RNXzpjx9zvmgEDf0R98Rzl4AjCBkAAKAwMQMA
									AFQiggZRA8+WOWIIwyQRIQOwr7PcQUMQNXCgiBheCBkAAKA8ayYAAKAyVk+wl3IRA8Ahiq6e6L/E
									+on4av0EDzGJAQAAKiNmAACASoka+CoRAzBvRaOGi+705j24DOwQMQAAQKWsmQAAgMpZPcGNiBiE
									DMByRNTwJff6CasnuEfIAAAAFRMzAADADETQIGpoWKGIQcgAZHCWO2gIoobmRcTwQsgAAAB1s2YC
									AABmxOqJxpjEALSh6OqJ/kusn4iv1k8sn0kMAAAwIyYzAADADJnUsHBWSgBtKrJ6IgxRgykNy2US
									AwAAzJCYAQAAZkzQsEBWSgBYPcGYTGMAAICZsmYCAABmzuqJhTCJAWCX1RMcS8QAAAAzJ2YAAICF
									EDXMlIgB4DFFo4aL7vTmPbgMsyJiAACAhbBmAgAAFsbqiZmIiEHIALCviBq+5F4/YfXE7AgZAABg
									QcQMAACwQBE0iBoqVihiEDIAC3CWO2gIoobqRcTwQsgAAADLYs0EAAAsmNUTlTGJAWAMRVdP9F9i
									/UR8tX6iPJMYAABgwcQMAADQAFFDYSIGgCkUjRouutOb9+AyFCFiAACABlgzAQAADbF6ogAhA8DU
									Imr4knv9hNUTxQgZAACgESYzAABAY0xpyETEAJBbRA3J6onFEjEAAEBjxAwAANAoUcNERAwAJRVd
									PZFEDVMQMQAAQKPEDAAA0DhRw0hEDAA1KRo1XHSnN+/BZTiKiAEAABp34hQAAABhGzVwACEDQK0i
									avjSHz/mfNEIGvojng3nLsFBhAwAAIDJDAAAwB1TGp5JxAAwFxE1JKsnqidiAAAAfidmAAAA/kTU
									8AQRA8AcFV09kUQNj8l+TQAAgPqJGQAAgAeJGu4RMQAsQdGo4aI7vXkPLsMNEQMAAPCgE6cAAAB4
									yjZqaJqQAWBpImr40h8/5nzRCBr6I54p542ffyEDAADwKJMZAACAvTQ7pUHEALB0ETUkqyeyETEA
									AAB7ETMAAADP0kzUIGIAaEnR1ROpjahBxAAAADyLNRMAAMBBImpY7PqJzCFDRAxCBoAqFFk9EYao
									YYmrJyJieCFkAAAAnkvMAAAAHGVRQUNEDAVCBt9FANUpEjVE0NAf8RxaStRgGgMAAHAwayYAAICj
									zX71hJUSAHxdRA3J6olnEzEAAABHEzMAAACjmV3UIGIA4GkRNERQcC5qeJKIAQAAGI01EwAAwOgi
									aqh+/YSQAYDnKbJ6IgxRQ82rJyJieCFkAAAAxiRmAAAAJlNl0BARQ+aQISIGIQPAYpyVChr6I55f
									tUUNpjEAAACTsGYCAACYVDWrJ0xiAGA8Vk+IGAAAgImJGQAAgCyKRQ0iBgCmUzRquOhOb95D5n9n
									EQMAAJCFNRMAAEBWWVdPCBkAyCOihi+5108UWD0hZAAAALIxmQEAAMhu8ikNIgYAyoioIS1w9YSI
									AQAAyO6FUwAAAHA4EQMNuf7th29fH/MLvP/45lX/5cqppBECAAAAgCNYMwEAAHCAiBiEDAA8osjq
									CQAAgKUQMwAAADyTiAGAZxA1AAAAHEDMAAAAsCfTGAA4wpmgAQAAYH9iBgAAgCeIGAAYiSkNAAAA
									exIzAAAAPEDEAMBERA0AAABPEDMAAAB8hYgBgAxEDQAAAA8QMwAAAOwwjQGAAs4EDQAAAH8kZgAA
									AEgiBgCKM6UBAABgh5gBAABomogBgMqIGgAAAJKYAQAAaJiIAYCKiRoAAICmiRkAAIDmmMYAwIyc
									CRoAAIAWiRkAAIBmiBgAmClTGgAAgOaIGQAAgMUTMQCwEKIGAACgGWIGAAAAAAAAAKAqf3EKAACA
									pfvth29fxFfTGQCYufMPbz/96DQAAAAtEDMAAADNEDUAMFMiBgAAoDnWTAAAAM2JqGEbNgBA5YQM
									AABAk0xmAAAAmhVBgykNAFRKxAAAADRNzAAAADTN6gkAKiNiAAAASNZMAAAA3LB6AoAKCBkAAAAG
									JjMAAADssHoCgAJEDAAAAPeIGQAAAO6xegKATEQMAAAADxAzAAAAPEDUAMBERAwAAABPOHEKAAAA
									HhdRwzZsAIAjCRkAAAD2YDIDAADAniJoMKUBgAOJGAAAAJ5BzAAAAPAMVk8A8EwiBgAAgANYMwEA
									AHAAqycA2IOQAQAA4EAmMwAAABzB6gkAvkLEAAAAcCQxAwAAwJGsngBgIGIAAAAYiZgBAABgJKIG
									gGaJGAAAAEZ24hQAAACMK6KGbdgAwOIJGQAAACZgMgMAAMBEImgwpQFgsUQMAAAAExIzAAAATMjq
									CYDFETEAAABkYM0EAABABlZPACyCkAEAACATkxkAAAAysnoCYJZEDAAAAJmJGQAAADKzegJgNkQM
									AAAAhYgZAAAAChE1AFRLxAAAAFDYiVMAAABQVkQN27ABgOKEDAAAABUwmQEAAKASETSY0gBQjIgB
									AACgImIGAACAilg9AZCdiAEAAKBC1kwAAABUyOoJgCyEDAAAAJUymQEAAKBiVk8ATELEAAAAUDkx
									AwAAQOWsngAYjYgBAABgJv5fgPbu5rhxI4rCqIEskM3Q4TgFr7GZeLyGJ5tJw90qyTUaiSIJ4qf7
									vXOqWMK6t/rqXTEDAABAJ0QNAKuJGAAAADozegIAAIC+1KjhLWwA4CYhAwAAQIdcZgAAAOhUDRpc
									aQC4SsQAAADQMTEDAABAx0xPAHwgYgAAAAjAzAQAAEAApicAXggZAAAAgnCZAQAAIBDTE0BSIgYA
									AIBgxAwAAADBmJ4AEhExAAAABCVmAAAACErUAAQmYgAAAAhu9AQAAACx1ajhLWwACEDIAAAAkIDL
									DAAAAEnUoMGVBqBjIgYAAIBExAwAAACJmJ4AOiRiAAAASMjMBAAAQEKmJ4BOCBkAAACScpkBAAAg
									MdMTQKNEDAAAAMmJGQAAAJIzPQE0RMQAAADACzEDAAAAL0QNwIlEDAAAALwzegIAAAB+VaOGt7AB
									4ABCBgAAAD5wmQEAAIBP1aDBlQZgRyIGAAAArhIzAAAAcJXpCWAHIgYAAABuMjMBAADATaYngI0I
									GQAAALiLywwAAADczfQEsJKIAQAAgIeIGQAAAHjIa9DwrXz+6zWAG0QMAAAArCJmAAAA4GE///7z
									R/kjagCuETEAAADwlNETAAAAsFaNGuqlhvJ58RrAKyEDAAAAT3OZAQAAgKfVqGGalxo0uNIAeYkY
									AAAA2IyYAQAAgE2YnoC0RAwAAABszswEAAAAmzI9AakIGQAAANiFywwAAADswvQEhCZiAAAAYFdi
									BgAAAHZjegLCETEAAABwCDEDAAAAuxM1QPdEDAAAABxq9AQAAAAcpUYN5TeUz4vXgG4IGQAAADic
									ywwAAAAcrkYN07zUoMGVBmiXiAEAAIDTiBkAAAA4hekJaJaIAQAAgNOZmQAAAOBUpiegKUIGAAAA
									muAyAwAAAE0wPQGnEjEAAADQFDEDAAAAzTA9AYcTMQAAANAkMQMAAADNETXA7kQMAAAANG30BAAA
									ALSqRg3lN5TPi9eAzQgZAAAAaJ7LDAAAADSvRg3TvNSgwZUGWE/EAAAAQDfEDAAAAHTB9ASsJmIA
									AACgO2YmAAAA6IrpCXiIkAEAAIAuucwAAABAl0xPwJdEDAAAAHRNzAAAAEC3TE/AByIGAAAAQhAz
									AAAA0D1RA4gYAAAAiGX0BAAAAERRo4byG8rnxWuQiJABAACAcFxmAAAAIJwaNUzzUoMGVxqITMQA
									AABAWGIGAAAAQjI9QWAiBgAAAMIzMwEAAEBopicIRsgAAABACi4zAAAAkILpCTonYgAAACAVMQMA
									AABpmJ6gQyIGAAAAUhIzAAAAkI6ogQ6IGAAAAEht9AQAAABkVaOG8hvK58Vr0BAhAwAAAOm5zAAA
									AEB6NWqY5qUGDa40cCYRAwAAALwSMwAAAMAfpic4lYgBAAAAfmNmAgAAAH5heoKDCRkAAADgEy4z
									AAAAwCdMT7AzEQMAAAB8QcwAAAAAV5ieYAciBgAAALiDmAEAAABuEDWwAREDAAAAPGD0BAAAAHCf
									GjWU31A+L16DBwgZAAAA4EEuMwAAAMCDatQwzUsNGlxp4Cs/vv/1j/AFAAAAVhAzAAAAwAqmJ/iC
									iAEAAACeZGYCAAAAnmB6gt8IGQAAAGADLjMAAADABkxPpCdiAAAAgA2JGQAAAGAjpidSEjEAAADA
									DsQMAAAAsDFRQwoiBgAAANjR6AkAAABgHzVqKL+hfPqndyxCBgAAANiZywwAAACwsxo1TPNS//nt
									SkPfRAwAAABwEDEDAAAAHMD0RNdEDAAAAHAwMxMAAABwINMT3REyAAAAwAlcZgAAAIATmJ5onogB
									AAAATiRmAAAAgJOYnmiSiAEAAAAaIGYAAACAk4kamiBiAAAAgIaMngAAAADaUKOG8hvKp3+qH0vI
									AAAAAI1xmQEAAAAaU6OGaV7qP9ddadiXiAEAAAAaJWYAAACABpme2JWIAQAAABpnZgIAAAAaZnpi
									c0IGAAAA6IDLDAAAANAB0xNPEzEAAABAR8QMAAAA0AnTE6uIGAAAAKBDYgYAAADojKjhLiIGAAAA
									6NjoCQAAAKBPNWoov6F8+qf9e0IGAAAA6JzLDAAAANC5GjVM81L/eZ/9SoOIAQAAAIIQMwAAAEAA
									yacnRAwAAAAQjJkJAAAACCTh9ISQAQAAAAJymQEAAAACSjA9IWIAAACAwMQMAAAAEFTQ6QkRAwAA
									ACQgZgAAAIDggkQNIgYAAABIZPQEAAAAkEONGspvKJ+9RQFCBgAAAEjGZQYAAABIpkYN07zUOKD1
									Kw0iBgAAAEhKzAAAAAAJNT49IWIAAACA5MxMAAAAQGINTk8IGQAAAACXGQAAAIAmpidEDAAAAMD/
									xAwAAADAi5OmJ0QMAAAAwAdiBgAAAOCdg6IGEQMAAABw1egJAAAAgM/UqKH8hvK5dXQgZAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
									AAAAAAAAAAAAAAAAAEjgP4LIRTw6VfrOAAAAAElFTkSuQmCC" transform="matrix(0.3021 0 0 0.3021 -177.5504 -10.122)">
									</image>
								</g>
							</g>
						</svg>
					</div>

                	<div class="incube_header">Incube</div>

                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sign_up">Join Us</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#sponsor">Sponsors</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
    	<div class="header_layer">
	        <div class="header-content">
	            <div class="header-content-inner">
	            	<a href="https://www.facebook.com/events/1640887989510892/" target="_blank">
	            		<div class="facebook_event"> Kickoff Event this Saturday at 4pm in 4-370! </div>
	            	</a>
	                <h1 class="header_title">Students across MIT are coming together to create awesomeness!</h1>
	                <hr>
	                <div class="header_text">In a cross between a hackathon and incubator, we're building a gamut of technological ventures.</div>
	                <a href="#sign_up" class="btn btn-primary btn-xl page-scroll sign_up_button">Sign Up</a>
	                <a href="#sponsor" class="btn btn-primary btn-xl page-scroll sponsor_button">Sponsor</a>
	            </div>
	        </div>
	    </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What's Incube?</h2>
                    <hr class="light">
                    <p class="text-faded">Were a rapidly growing community of creators who share one simple desire: to collaborate on our passions with amazing people. At the beginning of each semester we pitch ideas and ongoing projects, make teams, and build the bleeding edge together. With a strong focus on technology, our projects vary as widely as our personalities, from software to hardware, zany to industrial, local to global, and beyond. </p>
                    <p class="text-faded">We all meet up once a week to create our projects, share ideas, and enjoy good food. People freely come and go from our collaborative group space. Our community members' involvement ranges from just building a couple hours per week at meetups, to dropping out of MIT to pursue the full-time creation of our ventures, with most of us somewhere in between.</p>
                    <p class="text-faded">At the end of each semester we celebrate and our guest judges award a variety of cash prizes to our teams. We also enjoy direct interface with an incredible network of angel investors, venture capitalists, technology executives, and non-profit financiers, for those interested in taking things further. </p>
                    <a href="#sign_up" class="btn btn-default btn-xl page-scroll">Join us</a>
                </div>
            </div>
        </div>
    </section>

    <section id="sign_up">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Us</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <center><%= render 'users/new' %></center>
    </section>

    <section id="sponsor" class="bg-dark">
	        <div class="container text-center">
	            <div class="call-to-action">
	                <h2>Interested in sponsoring the next generation of the world's best technological creators?</h2>
	                <div class="col-lg-12 text-center">	
                    	<a class="mail_to_incube col-lg-6" href="mailto:incube@mit.edu">
                    		<i class="fa fa-envelope-o fa-3x wow bounceIn mail_icon" data-wow-delay=".1s"></i>
                    		<div class="incube_mail_text">incube@mit.edu</div>
                    	</a>

                    	<a href="/sponsor_incube.pdf" class="sponsor_file col-lg-6">
                    		<i class="fa fa-file fa-3x wow bounceIn file_icon" data-wow-delay=".1s"></i>
                    		<div class="sponsor_file_text">materials</div>
                    	</a>
                	</div>
	            </div>
	        </div>
	</section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>
