// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.confirm_signup {
	width: 100vw;
	height: 100vh;
	background-color: #0178B7;
}

.confirm_signup_name, .confirm_signup_email {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	color: #fff;
	font-size: 54px;
	text-align: center;
	padding: 10vh 15px 15px 15px;
}