// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_header {
	float: left;
	margin-top: -10px;
}

.incube_header {
	float: left;
	margin-left: 5px;
}

.header_title {
	text-shadow: 2px 2px 5px #3A3A3B;
}

.header_text {
	color: #fff;
	margin-bottom: 50px;
	font-size: 18px;
	text-shadow: 2px 2px 3px #3A3A3B;
}

.sign_up_button {
	margin-right: 5px;
}

.sponsor_button {
	margin-left: 5px;
}

// Sign up section

.signup_form {
	width: 360px;
}


// Sponsor Section

.mail_to_incube {
	color: #fff;
}

.mail_icon {
	padding-top: 54px;
}

.incube_mail_text {
	padding-top: 7px;
}