// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facebook_event {
	color: #fff;
	text-decoration: none;
	font-family: ‘Metrophobic’, Arial, serif; 
	font-weight: 700;
	font-size: 36px;
	text-shadow: 2px 2px 5px #3A3A3B;
	margin-bottom: 24px;
	margin-top: -24px;
}

.facebook_event:hover {
	color: #0178B7;
}

.logo_header {
	float: left;
	margin-top: -10px;
}

.incube_header {
	float: left;
	margin-left: 5px;
}

.header_layer {
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
}

.header_title {
	text-shadow: 2px 2px 5px #3A3A3B;
}

.header_text {
	color: #fff;
	margin-bottom: 50px;
	font-size: 18px;
	text-shadow: 2px 2px 3px #3A3A3B;
}

.sign_up_button {
	margin-right: 5px;
}

.sponsor_button {
	margin-left: 5px;
}

// Sign up section

.signup_form {
	width: 360px;
}


// Sponsor Section

.mail_to_incube {
	color: #fff;
	margin-top: 42px;
}

.mail_icon {
	margin-top: 12px;
}

.incube_mail_text {
	padding-top: 7px;
}

.sponsor_file {
	color: #fff;
	margin-top: 42px;
}

.file_icon {
	margin-top: 12px;
}

.sponsor_file_text {
	padding-top: 7px;
}

.logo_large {
	max-width: 200px;
	max-height: 120px;
	margin: 32px;
}

.action_call {
	padding-top: 48px;
}